# Data Types

In [ ]:
Numeric : int, float, complex
boolean : bool (True, False)
Text : str
Sequesnce : list, tuple,
Mapping : dict
Set Datatype : set, frozenset

## Numeric Datatypes

### 1. int

In [ ]:
int >> Whole number

there could be posetive or negative integer

10, 11, 12
-10, -11, -12

In [1]:
a = 10

type(a) ## This output is by JUpyter NOtebook

int

In [2]:
print(type(a)) ## This out put is by Python

<class 'int'>

In [3]:
a - 2

8

In [4]:
a

10

In [5]:
a = a - 2

In [6]:
a

8

In [7]:
a -= 2

In [8]:
a

6

### 2. Float

In [ ]:
There could be Posetive or Negative float

10.22, 30.11,3.14,6.67
-10.22,-30.11,-3.14

In [9]:
pi = 3.14

In [10]:
type(pi)

float

In [11]:
print(type(pi))

<class 'float'>

### 3. Complex

It has real and imaginary part

In [18]:
a = 3 + 4j

In [19]:
type(a)

complex

In [20]:
print(type(a))

<class 'complex'>

In [21]:
a = 0 + 1j

print(type(a))

<class 'complex'>

In [22]:
a = 3 + 0j
print(type(a))

<class 'complex'>

## Boolean Datatype

In [ ]:
True, False

## Text

string is a text datatype in python

In [27]:
a = 'this is a sample string in single quote'
b = "This is a sample string in double quote"
c = '''This is a sample string with triple quote'''
d = """This is a sample string with triple quote"""

In [25]:
type(a)

str

In [28]:
for string in [a,b,c,d]:
    print(string)

this is a sample string in single quote
This is a sample string in double quote
This is a sample string with triple quote
This is a sample string with triple quote

In [29]:
a

'this is a sample string in single quote'

In [30]:
b

'This is a sample string in double quote'

In [31]:
c

'This is a sample string with triple quote'

In [32]:
d

'This is a sample string with triple quote'

## Sequence Datatype

### 1. list

In [33]:
list1 = [1,2,3,4,5,6]

In [34]:
type(list1)

list

In [35]:
print(type(list1))

<class 'list'>

In [36]:
print(list1)

[1, 2, 3, 4, 5, 6]

In [39]:
list2 = range(1,15)
print(type(list2))

<class 'range'>

In [38]:
print(list2)

range(1, 15)

### 2. Tuple

In [40]:
a = (1,2,3,4)

type(a)

tuple

In [41]:
print(type(a))

<class 'tuple'>

## Mapping Datatype

### Dictionary

In [43]:
a = {"Name":"Mahendrasingh", "Surname":"Dhoni"}

type(a)

dict

In [44]:
print(type(a))

<class 'dict'>

## Set Datatype 
#### Unordered Datatype

In [45]:
set1 = {1,244,23,12,56,82,34}

type(set1)

set

In [46]:
print(type(set1))

<class 'set'>

In [47]:
print(set1)

{1, 34, 82, 244, 23, 56, 12}

In [48]:
print(set1)

{1, 34, 82, 244, 23, 56, 12}

In [51]:
set2 = frozenset(set1)

### Set is a mutable datatype and frozenset is a immutable datatype

# Data Type Casting

### int to float

In [52]:
a = 10
b = 20
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [54]:
a = float(a)
b = float(b)

print(type(a))
print(type(b))
print(a)
print(b)

<class 'float'>
<class 'float'>
10.0
20.0

### float to int

In [56]:
a = 10.22
b = 30.66

print(type(a))
print(type(b))
print(a)
print(b)

<class 'float'>
<class 'float'>
10.22
30.66

In [57]:
a = int(a)
b = int(b)

print(type(a))
print(type(b))
print(a)
print(b)

<class 'int'>
<class 'int'>
10
30

### int and float to complex

In [58]:
a = 10
b = 22.33

print(type(a))
print(type(b))
print(a)
print(b)

<class 'int'>
<class 'float'>
10
22.33

In [59]:
a = complex(a)
b = complex(b)

print(type(a))
print(type(b))
print(a)
print(b)

<class 'complex'>
<class 'complex'>
(10+0j)
(22.33+0j)

### complex to int or float

In [60]:
a = 10 + 3j
b = 22.33 + 2j

c = 10 + 0j
d = 22.33 + 0j

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(a)
print(b)
print(c)
print(d)

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
(10+3j)
(22.33+2j)
(10+0j)
(22.33+0j)

In [61]:
a = int(a)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [62]:
b = float(b)

TypeError: float() argument must be a string or a real number, not 'complex'

In [63]:
c = int(c)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [64]:
d = float(d)

TypeError: float() argument must be a string or a real number, not 'complex'

#### Complex cannot be converted to int ot float

### int and float to string

In [67]:
a = 10
b = 22.333445

print(type(a))
print(type(b))
print(a)
print(b)

<class 'int'>
<class 'float'>
10
22.333445

In [68]:
a = str(a)
b = str(b)

print(type(a))
print(type(b))
print(a)
print(b)

<class 'str'>
<class 'str'>
10
22.333445

### str to int and float

In [69]:
a = "Ye hai string"

type(a)

str

In [70]:
a = int(a)

ValueError: invalid literal for int() with base 10: 'Ye hai string'

In [74]:
b = "10223181782583654763676238746836"
type(b)

str

In [75]:
b = int(b)

In [76]:
type(b)

int

In [77]:
c = "123w"

type(c)

str

In [78]:
c = int(c)

ValueError: invalid literal for int() with base 10: '123w'

In [79]:
d = "12.3243432"

d = int(d)

print(d)

ValueError: invalid literal for int() with base 10: '12.3243432'

In [83]:
d = float(d)
type(d)

float

In [84]:
print(d)

12.3243432

## List to Tuple, Set

In [87]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,4,5,66,7,7,8,9,2,3]

print(type(list1))
print(type(list2))
print(list1)
print(list2)

<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 4, 5, 66, 7, 7, 8, 9, 2, 3]

In [88]:
# List to Tuple
list1 = tuple(list1)
list2 = tuple(list2)

print(type(list1))
print(type(list2))

print(list1)
print(list2)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 4, 5, 66, 7, 7, 8, 9, 2, 3)

In [89]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,4,5,66,7,7,8,9,2,3]

print(type(list1))
print(type(list2))
print(list1)
print(list2)

<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 4, 5, 66, 7, 7, 8, 9, 2, 3]

In [90]:
# List to set
list1 = set(list1)
list2 = set(list2)

print(type(list1))
print(type(list2))

print(list1)
print(list2)

<class 'set'>
<class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 66, 7, 8, 9}

### Experiments

In [91]:
set_string = "{1, 2, 3, 4, 5, 66, 7, 8, 9}"

set1 = set(set_string)

print(set1)

{'7', '5', ',', ' ', '4', '3', '9', '}', '2', '{', '6', '8', '1'}

In [94]:
list_string = "{1, 2, 3, 4, 5, 66, 7, 8, 9}"

list1 = list(list_string)
print(list1)

['{', '1', ',', ' ', '2', ',', ' ', '3', ',', ' ', '4', ',', ' ', '5', ',', ' ', '6', '6', ',', ' ', '7', ',', ' ', '8', ',', ' ', '9', '}']

In [95]:
b1 = True

str(b1)

'True'

In [96]:
int(True)

1