In [ ]:
str          : Immutable          Ordered               Duplicates are allowed
list         : Mutable            Ordered               Duplicates are allowed
tuple        : Immutable          Ordered               Duplicates are allowed
set          : Mutable            Unordered             Duplicates are not allowed
frozenset    : Immutable          Unordered             Duplicates are not allowed
dict         : Mutable            Key-Value-Pair        Duplicates values are allowed/ Duplicate Keys are not allowed

## Dictionary

In [12]:
1. Mutable
2. It has Key Value Pairs
3. Indexing cannot be used
4. Duplicates keys are not allowed but duplicate values are allowed
5. Dictionaries are enclosed by { }
6. Keys has to be an immutable datatype only
7. Values could be any datatype (Mutable or Immutable)

Keys   >> int, float, str, tuple, frozenset, complex
Values >> int, float, str, tuple, frozenset, complex, list, set, dict (Any Datatype)

SyntaxError: invalid syntax (1200222412.py, line 1)

In [13]:
dict1 = {"Name": "Mahendra", "Surname": "Dhoni", "Strike Rate": 90, "Best International Score": 183, "Wickets": 1,
        50:230, 100: 123}

print(dict1)

{'Name': 'Mahendra', 'Surname': 'Dhoni', 'Strike Rate': 90, 'Best International Score': 183, 'Wickets': 1, 50: 230, 100: 123}

In [14]:
dict1 = {"Name": "Mahendra", "Surname": "Dhoni", "Strike Rate": 90, "Best International Score": 183, "Wicket": 1,
        50:230, 100: 123}

print(dict1)

{'Name': 'Mahendra', 'Surname': 'Dhoni', 'Strike Rate': 90, 'Best International Score': 183, 'Wicket': 1, 50: 230, 100: 123}

Examples of Dictionary

In [15]:
dict1 = {"Name": "Mahendra", "Surname": "Dhoni", "Strike Rate": 90, "Best International Score": 183, "Wickets": 1,
        50:230, 100: 123}
print(dict1)

{'Name': 'Mahendra', 'Surname': 'Dhoni', 'Strike Rate': 90, 'Best International Score': 183, 'Wickets': 1, 50: 230, 100: 123}

In [16]:
dict2 = {"Name": "Virat", "Surname": "Kohli", "Strike Rate": 93, "Best International Score": 183, "Wickets":"",
        50:143, 100: 71}
print(dict2)

{'Name': 'Virat', 'Surname': 'Kohli', 'Strike Rate': 93, 'Best International Score': 183, 'Wickets': '', 50: 143, 100: 71}

In [20]:
dict3 = {"Name":["Mahendra","Virat"], "Surname":["Dhoni","Kohli"], "Strike Rate":[90,93], "Best International Score":[183,183],
        "Wickets":[1,np.nan], 50:[230,143], 100:[123,71]}
print(dict3)

{'Name': ['Mahendra', 'Virat'], 'Surname': ['Dhoni', 'Kohli'], 'Strike Rate': [90, 93], 'Best International Score': [183, 183], 'Wickets': [1, nan], 50: [230, 143], 100: [123, 71]}

In [21]:
import pandas as pd
import numpy as np

In [22]:
df_cricket = pd.DataFrame(dict3)
df_cricket

       Name Surname  Strike Rate  Best International Score  Wickets   50  100
0  Mahendra   Dhoni           90                       183      1.0  230  123
1     Virat   Kohli           93                       183      NaN  143   71

In [23]:
print(df_cricket)

       Name Surname  Strike Rate  Best International Score  Wickets   50  100
0  Mahendra   Dhoni           90                       183      1.0  230  123
1     Virat   Kohli           93                       183      NaN  143   71

In [24]:
print(df_cricket)

       Name Surname  Strike Rate  Best International Score  Wickets   50  100
0  Mahendra   Dhoni           90                       183      1.0  230  123
1     Virat   Kohli           93                       183      NaN  143   71

### Initiating Dictionary

In [10]:
dict1 = {}

print(dict1)
print(type(dict1))

{}
<class 'dict'>

In [11]:
set1 = set()

type(set1)

set

In [18]:
dict1 = {}
print(dict1)

{}

In [19]:
dict1["Name"] = "Ravindra"

print(dict1)

{'Name': 'Ravindra'}

In [21]:
dict1["Surname"] = np.nan
print(dict1)

{'Name': 'Ravindra', 'Surname': nan}

In [ ]:
PySpark

In [22]:
def add_10(x):
    x = x+10
    return x

In [23]:
add_10(23)

33