### Dictionary Functions

### 12. setdeafualt()

In [20]:
emp_details = {"Name":"Rajendra",
              "Surname":"Patil",
              "Age":45,
              "Salary":50000,
              "Designation":"Machine Learning Engineer",
              "Company":"TCS"}

emp_details.get("Salary")

50000

In [21]:
emp_details.setdefault("Salary")  ## If the field exist, it will fetch the value for the field

50000

In [22]:
print(emp_details.get("Hike"))  

print(emp_details)

None
{'Name': 'Rajendra', 'Surname': 'Patil', 'Age': 45, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS'}

In [23]:
emp_details.setdefault("Hike")   ## If the field does not exist with will create passed field with defalut value None

print(emp_details)

{'Name': 'Rajendra', 'Surname': 'Patil', 'Age': 45, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS', 'Hike': None}

In [31]:
emp_details.setdefault("Hike", 30000)  ## It does  not alter the existing field, since Hike is already there it won't alter it

print(emp_details)

{'Name': 'Rajendra', 'Surname': 'Patil', 'Age': 45, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS', 'Hike': None}

In [33]:
emp_details.get("Company")

'TCS'

In [34]:
emp_details.setdefault("Company")  ## Set default will fetch the value of the field it it exists

'TCS'

In [36]:
emp_details.setdefault("Company","Wipro") ## It does  not alter the existing field
                                          ## since Company is already there it won't alter it
print(emp_details)

{'Name': 'Rajendra', 'Surname': 'Patil', 'Age': 45, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS', 'Hike': None}

In [38]:
emp_details.setdefault("Location","Pune")

print(emp_details)

{'Name': 'Rajendra', 'Surname': 'Patil', 'Age': 45, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS', 'Hike': None, 'Location': 'Pune'}

In [40]:
emp_details.setdefault("Location","Banglore")
print(emp_details)

{'Name': 'Rajendra', 'Surname': 'Patil', 'Age': 45, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS', 'Hike': None, 'Location': 'Pune'}

In [41]:
emp_details.get("Department")

## Nested Dictionary

In [ ]:
This is also called JSON File format >> JSON >> Java Script Object Notation

In [42]:
emp_details = {"Name":"Rajendra",
              "Surname":"Patil",
              "Age":45,
              "Salary":50000,
              "Designation":"Machine Learning Engineer",
              "Company":"TCS"}

In [43]:
emp_details["Name"]

'Rajendra'

In [44]:
name = emp_details["Name"]

print(name)

Rajendra

In [45]:
surname = emp_details["Surname"]

print(surname)

Patil

In [46]:
full_name = name + " " + surname

print(full_name)

Rajendra Patil

In [47]:
emp_details = {"TCS1001":{"Name":"Rajendra",
                         "Surname":"Patil",
                         "Department":"Delivery",
                         "Salary":40000},
              "TCS1002":{"Name":"Rajesh",
                        "Surname":"Vaidya",
                        "Department":"Analytics",
                        "Salary":50000},
              "TCS1003":{"Name":"Aniket",
                        "Surname":"Kale",
                        "Department":"Analytics",
                        "Salary":30000}}

In [48]:
emp_details["TCS1001"]

{'Name': 'Rajendra',
 'Surname': 'Patil',
 'Department': 'Delivery',
 'Salary': 40000}

In [49]:
emp_details["TCS1001"]["Department"]

'Delivery'

In [53]:
emp_details = {"TCS1001":{"Name":"Rajendra",
                         "Surname":"Patil",
                         "Department":"Delivery",
                         "Salary":40000,
                         "Skills":{"Programming Language":"Python",
                                  "Languages Known":{"L1":"Hindi",
                                                    "L2":"Marathi",
                                                    "L3":"English"},
                                  "Softwares":{"Office":"Microsoft office",
                                              "Anlytics":"PowerBI",
                                              "CAD":"CATIA"}}},
              "TCS1002":{"Name":"Rajesh",
                        "Surname":"Vaidya",
                        "Department":"Analytics",
                        "Salary":50000},
              "TCS1003":{"Name":"Aniket",
                        "Surname":"Kale",
                        "Department":"Analytics",
                        "Salary":30000}}

In [54]:
emp_details["TCS1001"]["Skills"]

{'Programming Language': 'Python',
 'Languages Known': {'L1': 'Hindi', 'L2': 'Marathi', 'L3': 'English'},
 'Softwares': {'Office': 'Microsoft office',
  'Anlytics': 'PowerBI',
  'CAD': 'CATIA'}}

In [55]:
emp_details["TCS1001"]["Skills"]["Languages Known"]

{'L1': 'Hindi', 'L2': 'Marathi', 'L3': 'English'}

In [56]:
emp_details["TCS1001"]["Skills"]["Languages Known"]["L1"]

'Hindi'

In [59]:
emp_details["TCS1001"]["Skills"]["Softwares"]

{'Office': 'Microsoft office', 'Anlytics': 'PowerBI', 'CAD': 'CATIA'}

In [60]:
emp_details["TCS1001"]["Skills"]["Softwares"]["Office"]

'Microsoft office'

In [61]:
emp_details["TCS1001"]["Skills"]["Softwares"]["Office"] = "Google Workspace"

In [62]:
print(emp_details["TCS1001"]["Skills"]["Softwares"])

{'Office': 'Google Workspace', 'Anlytics': 'PowerBI', 'CAD': 'CATIA'}

In [64]:
emp_details["TCS1001"]["Skills"]["Softwares"]["Office"] = {"Microsoft":["Excel","Powerpoint","Publisher","Word"],
                                                          "Libre Office":"All",
                                                          "Google Workspace":["Sheet","Slides","Documents"]}

In [65]:
emp_details["TCS1001"]["Skills"]["Softwares"]["Office"]

{'Microsoft': ['Excel', 'Powerpoint', 'Publisher', 'Word'],
 'Libre Office': 'All',
 'Google Workspace': ['Sheet', 'Slides', 'Documents']}

In [66]:
emp_details["TCS1001"]["Skills"]["Softwares"]

{'Office': {'Microsoft': ['Excel', 'Powerpoint', 'Publisher', 'Word'],
  'Libre Office': 'All',
  'Google Workspace': ['Sheet', 'Slides', 'Documents']},
 'Anlytics': 'PowerBI',
 'CAD': 'CATIA'}

In [67]:
emp_details["TCS1001"]["Skills"]["Softwares"]["Office"]["Microsoft"]

['Excel', 'Powerpoint', 'Publisher', 'Word']

## Creating a dictionary of ASCII values and corresponding Letter

In [ ]:
ascii_dict = {"A":65,"B":66,"C":68....,"Z":90}

In [69]:
ascii_dict = {}

for i in range(65,91):
    ascii_dict[chr(i)] = i

print(ascii_dict)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [73]:
ascii_dict = {}

for i in range(65,91):
    ascii_dict.update({chr(i) : i})
#     print(ascii_dict)

print(ascii_dict)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

## Creating dictionary of Cubes

cubes = {1:1,2:8,3:27....10:1000}

In [74]:
cubes = {}

for i in range(1,11):
    cubes[i] = i**3

print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [75]:
cubes = {}

for i in range(11,21):
    cubes.update({i:i**3})
    
print(cubes)

{11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375, 16: 4096, 17: 4913, 18: 5832, 19: 6859, 20: 8000}

### Creating a dictionary of words in a statements and it's occurance

In [83]:
string = """Machine Learning is the field of study that gives computers the capability to learn without being 
explicitly programmed. ML is one of the most exciting technologies that one would have ever come across. 
As it is evident from the name, it gives the computer that makes it more similar to humans: The ability to learn.
Machine learning is actively being used today, perhaps in many more places than one would expect."""

# dict1 = {"Machine":2,"Learning":3,"is":5...."expect":1}

list1 = string.split()

print(list1)

['Machine', 'Learning', 'is', 'the', 'field', 'of', 'study', 'that', 'gives', 'computers', 'the', 'capability', 'to', 'learn', 'without', 'being', 'explicitly', 'programmed.', 'ML', 'is', 'one', 'of', 'the', 'most', 'exciting', 'technologies', 'that', 'one', 'would', 'have', 'ever', 'come', 'across.', 'As', 'it', 'is', 'evident', 'from', 'the', 'name,', 'it', 'gives', 'the', 'computer', 'that', 'makes', 'it', 'more', 'similar', 'to', 'humans:', 'The', 'ability', 'to', 'learn.', 'Machine', 'learning', 'is', 'actively', 'being', 'used', 'today,', 'perhaps', 'in', 'many', 'more', 'places', 'than', 'one', 'would', 'expect.']

In [80]:
" ".join(list1)

'Machine Learning is the field of study that gives computers the capability to learn without being explicitly programmed. ML is one of the most exciting technologies that one would have ever come across. As it is evident from the name, it gives the computer that makes it more similar to humans: The ability to learn. Machine learning is actively being used today, perhaps in many more places than one would expect.'

In [78]:
list1.count("Machine")

2

In [84]:
dict1 = {}

for word in list1:
    dict1[word] = list1.count(word)

print(dict1)

{'Machine': 2, 'Learning': 1, 'is': 4, 'the': 5, 'field': 1, 'of': 2, 'study': 1, 'that': 3, 'gives': 2, 'computers': 1, 'capability': 1, 'to': 3, 'learn': 1, 'without': 1, 'being': 2, 'explicitly': 1, 'programmed.': 1, 'ML': 1, 'one': 3, 'most': 1, 'exciting': 1, 'technologies': 1, 'would': 2, 'have': 1, 'ever': 1, 'come': 1, 'across.': 1, 'As': 1, 'it': 3, 'evident': 1, 'from': 1, 'name,': 1, 'computer': 1, 'makes': 1, 'more': 2, 'similar': 1, 'humans:': 1, 'The': 1, 'ability': 1, 'learn.': 1, 'learning': 1, 'actively': 1, 'used': 1, 'today,': 1, 'perhaps': 1, 'in': 1, 'many': 1, 'places': 1, 'than': 1, 'expect.': 1}

In [85]:
dict1 = {}

for word in list1:
    dict1.update({word:list1.count(word)})

print(dict1)

{'Machine': 2, 'Learning': 1, 'is': 4, 'the': 5, 'field': 1, 'of': 2, 'study': 1, 'that': 3, 'gives': 2, 'computers': 1, 'capability': 1, 'to': 3, 'learn': 1, 'without': 1, 'being': 2, 'explicitly': 1, 'programmed.': 1, 'ML': 1, 'one': 3, 'most': 1, 'exciting': 1, 'technologies': 1, 'would': 2, 'have': 1, 'ever': 1, 'come': 1, 'across.': 1, 'As': 1, 'it': 3, 'evident': 1, 'from': 1, 'name,': 1, 'computer': 1, 'makes': 1, 'more': 2, 'similar': 1, 'humans:': 1, 'The': 1, 'ability': 1, 'learn.': 1, 'learning': 1, 'actively': 1, 'used': 1, 'today,': 1, 'perhaps': 1, 'in': 1, 'many': 1, 'places': 1, 'than': 1, 'expect.': 1}

## Sorting a dictionary

### 1. sorting dictionary with key

In [86]:
sub_marks = {"Phy":80,"Chem":85,"Math":92,"Bio":75,"Eng":75,"Comp":94,"Voc":93}

print(sorted(sub_marks))

['Bio', 'Chem', 'Comp', 'Eng', 'Math', 'Phy', 'Voc']

In [88]:
sub_marks["Bio"]

75

In [87]:
sorted(sub_marks.keys())

['Bio', 'Chem', 'Comp', 'Eng', 'Math', 'Phy', 'Voc']

In [89]:
sorted_dict = {}

for key in sorted(sub_marks.keys()):
    
    sorted_dict[key] = sub_marks[key]

print(sorted_dict)

{'Bio': 75, 'Chem': 85, 'Comp': 94, 'Eng': 75, 'Math': 92, 'Phy': 80, 'Voc': 93}