
### Examples of Dictionary

In [1]:
dict1 = {"A":67,"B":78}  #String as a key
print(dict1)

{'A': 67, 'B': 78}

In [2]:
dict1 = {11:[12,123,1223],12:[1453,12,3],"Python":"Data Science"} ## Integer as key

print(dict1)

{11: [12, 123, 1223], 12: [1453, 12, 3], 'Python': 'Data Science'}

In [3]:
dict1 = {10.5:10.7, 11.5:11.7, 12.5: 12.7, "Artificial":"Intelligence","Key":"Value"} ## Float as a key

print(dict1)

{10.5: 10.7, 11.5: 11.7, 12.5: 12.7, 'Artificial': 'Intelligence', 'Key': 'Value'}

In [4]:
dict1 = {3 + 5j: 5j, 9 + 7j: 7j, 10 + 9j:9j, "Algorithm":"Linear Regression"} ## Complex as key

print(dict1)

{(3+5j): 5j, (9+7j): 7j, (10+9j): 9j, 'Algorithm': 'Linear Regression'}

In [5]:
dict1 = {[1,2,3]:6,[7,8,9]:24, "List":"Addition as value"} ## List as a key, 
print(dict1)                                               ## since list is mutable it will not be accepted as key

TypeError: unhashable type: 'list'

In [6]:
dict1 = {(1,2,3):6, (7,8,9):24, "Tuple":"Addition"} ## Tuple as a key

print(dict1)

{(1, 2, 3): 6, (7, 8, 9): 24, 'Tuple': 'Addition'}

In [7]:
dict1 = {{1,2,3}:6,{7,8,9}:24, "Set":"Addition"} ## Set as a key
print(dict1)

TypeError: unhashable type: 'set'

In [8]:
dict1 = {frozenset({1,2,3}):6,frozenset({7,8,9}):24, "Set":"Addition"} ## Frozenset as a key
print(dict1)

{frozenset({1, 2, 3}): 6, frozenset({8, 9, 7}): 24, 'Set': 'Addition'}

### Dictionary Functions to access items

In [9]:
dict1 = {"A":100,"B":200,"C":300,"D":400}

dict1[0]

KeyError: 0

Value can be accessed using key

In [10]:
dict1["A"]

100

In [11]:
dict1["D"]

400

### 1. get()

In [12]:
dict1 = {"A":100,"B":200,"C":300,"D":400,"E":350,"F":450}

dict1.get("B")

200

In [13]:
dict1.get("F")

450

### 2. keys()

In [14]:
dict1 = {"A":100,"B":200,"C":300,"D":400,"E":350,"F":450}
print(dict1)

{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 350, 'F': 450}

In [15]:
dict1.keys()  ## This method will fetch a list all dictinary keys that are present in the given dict

dict_keys(['A', 'B', 'C', 'D', 'E', 'F'])

In [16]:
print(dict1.keys())

dict_keys(['A', 'B', 'C', 'D', 'E', 'F'])

In [17]:
dict1 = {"Netflix":"Stranger Things", "Hotstar":"House of Dragon", "Prime":"Rings of Power","Zee":"1992","Sony":"Scam 1992"}

dict1.keys()

dict_keys(['Netflix', 'Hotstar', 'Prime', 'Zee', 'Sony'])

In [18]:
for OTT in dict1.keys():
    print(f"OTT is {OTT}")

OTT is Netflix
OTT is Hotstar
OTT is Prime
OTT is Zee
OTT is Sony

### 3. Value()

In [ ]:
## This will fetch list of all the values in a given dictionary

In [21]:
dict1 = {"Netflix":"Stranger Things", "Hotstar":"House of Dragon", "Prime":"Rings of Power","Zee":"1992","Sony":"Scam 1992"}

dict1.values()

dict_values(['Stranger Things', 'House of Dragon', 'Rings of Power', '1992', 'Scam 1992'])

In [22]:
for series in dict1.values():
    print(f"The series is {series}")

The series is Stranger Things
The series is House of Dragon
The series is Rings of Power
The series is 1992
The series is Scam 1992

### 4. items()

In [23]:
dict1 = {"Netflix":"Stranger Things", "Hotstar":"House of Dragon", "Prime":"Rings of Power","Zee":"1992","Sony":"Scam 1992"}

dict1.items()

dict_items([('Netflix', 'Stranger Things'), ('Hotstar', 'House of Dragon'), ('Prime', 'Rings of Power'), ('Zee', '1992'), ('Sony', 'Scam 1992')])

In [ ]:
## This returns an object dict_items which has a list of tuples containing keys and values

In [24]:
for item in dict1.items():
    print(f"Item is : {item}")

Item is : ('Netflix', 'Stranger Things')
Item is : ('Hotstar', 'House of Dragon')
Item is : ('Prime', 'Rings of Power')
Item is : ('Zee', '1992')
Item is : ('Sony', 'Scam 1992')

In [26]:
for OTT, series in dict1.items():
    print(f"The OTT platform is : {OTT} and the best Series is: {series}")

The OTT platform is : Netflix and the best Series is: Stranger Things
The OTT platform is : Hotstar and the best Series is: House of Dragon
The OTT platform is : Prime and the best Series is: Rings of Power
The OTT platform is : Zee and the best Series is: 1992
The OTT platform is : Sony and the best Series is: Scam 1992

In [27]:
for key, value in dict1.items():
    print(f"Key : {key}    Value: {value}")

Key : Netflix    Value:Stranger Things
Key : Hotstar    Value:House of Dragon
Key : Prime    Value:Rings of Power
Key : Zee    Value:1992
Key : Sony    Value:Scam 1992

### Adding Items to Dictinary

In [28]:
dict1 = {"Netflix":"Stranger Things", "Hotstar":"House of Dragon", "Prime":"Rings of Power","Zee":"1992","Sony":"Scam 1992"}

print(dict1)

{'Netflix': 'Stranger Things', 'Hotstar': 'House of Dragon', 'Prime': 'Rings of Power', 'Zee': '1992', 'Sony': 'Scam 1992'}

In [29]:
## Adding a single key to the dictionary
dict1["Voot"] = None

print(dict1)

{'Netflix': 'Stranger Things', 'Hotstar': 'House of Dragon', 'Prime': 'Rings of Power', 'Zee': '1992', 'Sony': 'Scam 1992', 'Voot': None}

In [30]:
## Change the value of the key

dict1["Voot"] = "Asur"
print(dict1)

{'Netflix': 'Stranger Things', 'Hotstar': 'House of Dragon', 'Prime': 'Rings of Power', 'Zee': '1992', 'Sony': 'Scam 1992', 'Voot': 'Asur'}

### Extending the dictionary

In [31]:
d1 = {1:1,2:4,3:9}
d2 = {4:16,5:25,6:36}

d1.update(d2)

print(d1)
print(d2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{4: 16, 5: 25, 6: 36}

In [32]:
d1 = {1:1,2:4,3:9}
d2 = {4:16}

d1.update(d2)
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16}

In [33]:
d1 = {1:1,2:4,3:9}
d2 = {4:16}

d2.update(d1)
print(d1)
print(d2)

{1: 1, 2: 4, 3: 9}
{4: 16, 1: 1, 2: 4, 3: 9}

## Creating a dictionary with list and enumerate

In [40]:
names = ["Sachin","Virendra","Saurav","Ajay","Robin"]
age = [45,40,53,57,60]

name_age = {}

for i,name in enumerate(names):
    name_age.update({name:age[i]})
    print(name_age)

{'Sachin': 45}
{'Sachin': 45, 'Virendra': 40}
{'Sachin': 45, 'Virendra': 40, 'Saurav': 53}
{'Sachin': 45, 'Virendra': 40, 'Saurav': 53, 'Ajay': 57}
{'Sachin': 45, 'Virendra': 40, 'Saurav': 53, 'Ajay': 57, 'Robin': 60}

In [39]:
names = ["Sachin","Virendra","Saurav","Ajay","Robin"]
age = [45,40,53,57,60]

name_age = {}

for i,name in enumerate(names):  
    name_age[name] = age[i]
    print(name_age)

{'Sachin': 45}
{'Sachin': 45, 'Virendra': 40}
{'Sachin': 45, 'Virendra': 40, 'Saurav': 53}
{'Sachin': 45, 'Virendra': 40, 'Saurav': 53, 'Ajay': 57}
{'Sachin': 45, 'Virendra': 40, 'Saurav': 53, 'Ajay': 57, 'Robin': 60}

In [ ]:
Iteration    index       names
1              0         Sachin
2              1        Virendra
3              2         Saurav

### Dictionary Function

In [ ]:
1. get()
2. keys()
3. values()
4. items()
5. update()

6. pop()
7. popitem()
8. clear()
9. fromkeys()
10. setdefault()
11. copy()

### 6. pop()

In [41]:
dict1 = {"Name":"Rajendra",
        "Age":47,
        "Salary":50000,
        "Designation":"Machine Learning Engineer",
        "Company": "TCS"}
print(dict1)

{'Name': 'Rajendra', 'Age': 47, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS'}

In [42]:
dict1.pop()

TypeError: pop expected at least 1 argument, got 0

In [43]:
dict1.pop("Designation")

'Machine Learning Engineer'

In [44]:
print(dict1)

{'Name': 'Rajendra', 'Age': 47, 'Salary': 50000, 'Company': 'TCS'}

In [45]:
dict1 = {"Name":"Rajendra",
        "Age":47,
        "Salary":50000,
        "Designation":"Machine Learning Engineer",
        "Company": "TCS"}
print(dict1)
des = dict1.pop("Designation")
print()
print("Dictionry after popping Designation")
print(dict1)
print()
print(f"Value Popped: {des}")

{'Name': 'Rajendra', 'Age': 47, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS'}

Dictionry after popping Designation
{'Name': 'Rajendra', 'Age': 47, 'Salary': 50000, 'Company': 'TCS'}

Value Popped: Machine Learning Engineer

In [46]:
dict1.pop("Age")

47

### 7.popitem()

In [ ]:
## It will pop the last item in a dictionary

In [47]:
dict1 = {"Name":"Rajendra",
        "Age":47,
        "Salary":50000,
        "Designation":"Machine Learning Engineer",
        "Company": "TCS"}
dict1.popitem()

('Company', 'TCS')

In [49]:
dict1 = {"Name":"Rajendra",
        "Age":47,
        "Salary":50000,
        "Designation":"Machine Learning Engineer",
        "Company": "TCS"}

key,value = dict1.popitem()

print(f"Key popped: {key}")
print(f"Value popped : {value}")

Key popped: Company
Value popped : TCS

In [50]:
key,value = dict1.popitem()

print(f"Key popped: {key}")
print(f"Value popped : {value}")

Key popped: Designation
Value popped : Machine Learning Engineer

In [51]:
key,value = dict1.popitem()

print(f"Key popped: {key}")
print(f"Value popped : {value}")

Key popped: Salary
Value popped : 50000

### 8. clear()

In [52]:
dict1 = {"Name":"Rajendra",
        "Age":47,
        "Salary":50000,
        "Designation":"Machine Learning Engineer",
        "Company": "TCS"}

dict1.clear()
print(dict1)

{}

### 9. del keyword

In [54]:
dict1 = {"Name":"Rajendra",
        "Age":47,
        "Salary":50000,
        "Designation":"Machine Learning Engineer",
        "Company": "TCS"}
print(dict1)

{'Name': 'Rajendra', 'Age': 47, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS'}

In [55]:
del dict1

In [56]:
print(dict1)

NameError: name 'dict1' is not defined

### 10. copy()

In [57]:
dict1 = {"Name":"Rajendra",
        "Age":47,
        "Salary":50000,
        "Designation":"Machine Learning Engineer",
        "Company": "TCS"}

dict2 = dict1

dict1["Hike"] = 10000

print(dict1)

{'Name': 'Rajendra', 'Age': 47, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS', 'Hike': 10000}

In [58]:
dict2

{'Name': 'Rajendra',
 'Age': 47,
 'Salary': 50000,
 'Designation': 'Machine Learning Engineer',
 'Company': 'TCS',
 'Hike': 10000}

In [59]:
print(f"ID dict1: {id(dict1)}")
print(f"ID dict2: {id(dict2)}")

ID dict1: 2182909836416
ID dict2: 2182909836416

In [60]:
## With copy

dict1 = {"Name":"Rajendra",
        "Age":47,
        "Salary":50000,
        "Designation":"Machine Learning Engineer",
        "Company": "TCS"}

dict2 = dict1.copy()

dict1["Hike"] = 10000

print(dict1)
print(dict2)

{'Name': 'Rajendra', 'Age': 47, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS', 'Hike': 10000}
{'Name': 'Rajendra', 'Age': 47, 'Salary': 50000, 'Designation': 'Machine Learning Engineer', 'Company': 'TCS'}

In [61]:
print(f"ID dict1: {id(dict1)}")
print(f"ID dict2: {id(dict2)}")

ID dict1: 2182909998208
ID dict2: 2182881012928

In [64]:
dict1 = {"Name":"Rajendra",
        "Age":47,
         "Year":[1,2,3],
        "Salary":[50000,60000,70000],
        "Designation":"Machine Learning Engineer",
        "Company": "TCS"}

dict2 = dict1.copy()

dict1["Salary"][0] = 40000

print(dict1)

{'Name': 'Rajendra', 'Age': 47, 'Year': [1, 2, 3], 'Salary': [40000, 60000, 70000], 'Designation': 'Machine Learning Engineer', 'Company': 'TCS'}

In [65]:
dict2

{'Name': 'Rajendra',
 'Age': 47,
 'Year': [1, 2, 3],
 'Salary': [40000, 60000, 70000],
 'Designation': 'Machine Learning Engineer',
 'Company': 'TCS'}

### Deepcopy

In [67]:
import copy
dict1 = {"Name":"Rajendra",
        "Age":47,
         "Year":[1,2,3],
        "Salary":[50000,60000,70000],
        "Designation":"Machine Learning Engineer",
        "Company": "TCS"}

dict2 = copy.deepcopy(dict1)

dict1["Salary"][0] = 40000

print(dict1)

{'Name': 'Rajendra', 'Age': 47, 'Year': [1, 2, 3], 'Salary': [40000, 60000, 70000], 'Designation': 'Machine Learning Engineer', 'Company': 'TCS'}

In [68]:
dict2

{'Name': 'Rajendra',
 'Age': 47,
 'Year': [1, 2, 3],
 'Salary': [50000, 60000, 70000],
 'Designation': 'Machine Learning Engineer',
 'Company': 'TCS'}

## 11. fromkeys()

In [ ]:
dict.fromkeys(sequence,[val])

In [ ]:
## fromkeys is used for creating a dictionary

In [69]:
sub_list = ["Phy","Chem","Math","Bio","Comp","Eng","Voc"]

sub_mark_dict = dict.fromkeys(sub_list)

print(sub_mark_dict)

{'Phy': None, 'Chem': None, 'Math': None, 'Bio': None, 'Comp': None, 'Eng': None, 'Voc': None}

In [70]:
### With value

sub_list = ["Phy","Chem","Math","Bio","Comp","Eng","Voc"]

sub_mark_dict = dict.fromkeys(sub_list,90)

print(sub_mark_dict)

{'Phy': 90, 'Chem': 90, 'Math': 90, 'Bio': 90, 'Comp': 90, 'Eng': 90, 'Voc': 90}

In [71]:
### With values

sub_list = ["Phy","Chem","Math","Bio","Comp","Eng","Voc"]
marks = [90,89,99,75,86,87,85]

sub_mark_dict = dict.fromkeys(sub_list,marks)

print(sub_mark_dict)

{'Phy': [90, 89, 99, 75, 86, 87, 85], 'Chem': [90, 89, 99, 75, 86, 87, 85], 'Math': [90, 89, 99, 75, 86, 87, 85], 'Bio': [90, 89, 99, 75, 86, 87, 85], 'Comp': [90, 89, 99, 75, 86, 87, 85], 'Eng': [90, 89, 99, 75, 86, 87, 85], 'Voc': [90, 89, 99, 75, 86, 87, 85]}

### with zip

In [72]:
sub_list = ["Phy","Chem","Math","Bio","Comp","Eng","Voc"]
marks = [90,89,99,75,86,87,85]

zip(sub_list,marks)

In [73]:
for item in zip(sub_list,marks):
    print(item)

('Phy', 90)
('Chem', 89)
('Math', 99)
('Bio', 75)
('Comp', 86)
('Eng', 87)
('Voc', 85)

In [74]:
dict(zip(sub_list,marks))

{'Phy': 90,
 'Chem': 89,
 'Math': 99,
 'Bio': 75,
 'Comp': 86,
 'Eng': 87,
 'Voc': 85}