### 1. Try-Except Block

In [9]:
try:
    print("Try Block")

except:
    print("Except Block")

Try Block

In [10]:
try:
    print(Try)
    
except:
    print("Except Block")

Except Block

In [11]:
try:
    print("We are in try Block")
    list1 = [1,2,3,4,5]
    print("List_1:", list1)
    print(list1[5])
    print("End of Try Block")

except:
    print("We are in except block")

We are in try Block
List_1: [1, 2, 3, 4, 5]
We are in except block

In [12]:
import traceback
try:
    print("We are in try Block")
    list1 = [1,2,3,4,5]
    print("List_1:", list1)
    print(list1[5])
    print("End of Try Block")

except:
    print(traceback.print_exc())
    print("We are in except block")

We are in try Block
List_1: [1, 2, 3, 4, 5]
None
We are in except block

Traceback (most recent call last):
  File "C:\Users\kruna\AppData\Local\Temp\ipykernel_9912\3825928027.py", line 6, in <cell line: 2>
    print(list1[5])
IndexError: list index out of range

In [13]:
import pandas as pd
import numpy as np

In [14]:
path = r"D:\Teaching Python\3rd September\11_01_Exception_Handling\Folder_1\Numbers.csv"

df = pd.read_csv(path)

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Teaching Python\\3rd September\\11_01_Exception_Handling\\Folder_1\\Numbers.csv'

In [15]:
path = r"D:\Teaching Python\3rd September\11_01_Exception_Handling\Folder_1\Numbers.csv"

try:
    df = pd.read_csv(path)

except:
    print("File does not exist in given folder")

File does not exist in given folder

In [24]:
path = r"D:\Teaching Python\3rd September\11_01_Exception_Handling\Folder_1\Numbers.csv"
path_2 = r"D:\Teaching Python\3rd September\11_01_Exception_Handling\Folder_2\Numbers.csv"

try:
    df = pd.read_csv(path)

except:
    print("File not found in given folder, checking other folder")
    try:
        df = pd.read_csv(path_2)
        print("File found, dataframe prepared!")
    
    except:
        print("File not found")

File not found in given folder, checking other folder
File found, dataframe prepared!

In [25]:
df

    Unnamed: 0  Number_1  Number_2  Number_3
0            0       1.0       2.0       3.0
1            1       2.0       4.0       6.0
2            2       3.0       6.0       9.0
3            3       4.0       8.0      12.0
4            4       5.0      10.0      15.0
..         ...       ...       ...       ...
94          94      95.0     190.0     285.0
95          95      96.0     192.0     288.0
96          96      97.0     194.0     291.0
97          97      98.0     196.0     294.0
98          98      99.0     198.0     297.0

[99 rows x 4 columns]

In [34]:
name = ["John","Sarah","Krish","Pulkeet","Seema","Levina","Rajesh"]
surname = ["Hopkin","James","Roshan","Gupta","Chaturvedi","Kumar","Kuber"]
gender = ["Male","Female","Male","Male","Female","Female","Male"]
age = [20,"22","26",27,28,29,"23"]

In [35]:
df = pd.DataFrame({"Name":name,
                  "Surname":surname,
                  "Gender":gender,
                  "Age":age})

In [36]:
df

      Name     Surname  Gender Age
0     John      Hopkin    Male  20
1    Sarah       James  Female  22
2    Krish      Roshan    Male  26
3  Pulkeet       Gupta    Male  27
4    Seema  Chaturvedi  Female  28
5   Levina       Kumar  Female  29
6   Rajesh       Kuber    Male  23

In [37]:
df.loc[4,"Gender"] = np.nan
df.loc[3, "Gender"] = np.nan
df

      Name     Surname  Gender Age
0     John      Hopkin    Male  20
1    Sarah       James  Female  22
2    Krish      Roshan    Male  26
3  Pulkeet       Gupta     NaN  27
4    Seema  Chaturvedi     NaN  28
5   Levina       Kumar  Female  29
6   Rajesh       Kuber    Male  23

In [38]:
def get_full_name(name,surname,gender):
    if gender == "Male":
        return "Mr" + " " + name + " " + surname
    elif gender == "Female":
        return "Miss" + " " + name + " " + surname

In [40]:
df["Full Name"] = df.apply(lambda x: get_full_name(x["Name"],x["Surname"],x["Gender"]), axis = 1)

In [41]:
df

      Name     Surname  Gender Age          Full Name
0     John      Hopkin    Male  20     Mr John Hopkin
1    Sarah       James  Female  22   Miss Sarah James
2    Krish      Roshan    Male  26    Mr Krish Roshan
3  Pulkeet       Gupta     NaN  27               None
4    Seema  Chaturvedi     NaN  28               None
5   Levina       Kumar  Female  29  Miss Levina Kumar
6   Rajesh       Kuber    Male  23    Mr Rajesh Kuber

In [42]:
def get_full_name(name,surname,gender):
    try:
        if gender == "Male":
            return "Mr" + " " + name + " " + surname
        elif gender == "Female":
            return "Miss" + " " + name + " " + surname
    except:
        return name + " " + surname

In [43]:
df["Full Name"] = df.apply(lambda x: get_full_name(x["Name"],x["Surname"],x["Gender"]), axis = 1)

In [44]:
df

      Name     Surname  Gender Age          Full Name
0     John      Hopkin    Male  20     Mr John Hopkin
1    Sarah       James  Female  22   Miss Sarah James
2    Krish      Roshan    Male  26    Mr Krish Roshan
3  Pulkeet       Gupta     NaN  27               None
4    Seema  Chaturvedi     NaN  28               None
5   Levina       Kumar  Female  29  Miss Levina Kumar
6   Rajesh       Kuber    Male  23    Mr Rajesh Kuber

In [45]:
import datetime

In [56]:
date1 = "01-11-2022"
date2 = "01/11/2022"
date3 = "01.11.2022"

date_time_new = datetime.datetime.strptime(date1,"%d-%m-%Y").date()
date_time_new

datetime.date(2022, 11, 1)

In [47]:
def get_datetime(date_str):
    date_time_new = datetime.datetime.strptime(date_str,"%d-%m-%Y").date()
    return date_time_new

In [48]:
get_datetime(date1)

datetime.date(2022, 11, 1)

In [49]:
get_datetime(date2)

ValueError: time data '01/11/2022' does not match format '%d-%m-%Y'

In [50]:
def get_datetime(date_str):
    try:
        date_time_new = datetime.datetime.strptime(date_str,"%d-%m-%Y").date()
        return date_time_new
    
    except:
        date_time_new = datetime.datetime.strptime(date_str,"%d/%m/%Y").date()
        return date_time_new

In [52]:
get_datetime(date1)

datetime.date(2022, 11, 1)

In [53]:
get_datetime(date2)

datetime.date(2022, 11, 1)

In [54]:
def get_datetime(date_str):
    try:
        date_time_new = datetime.datetime.strptime(date_str,"%d-%m-%Y").date()
        return date_time_new
    
    except:
        try:
            date_time_new = datetime.datetime.strptime(date_str,"%d/%m/%Y").date()
            return date_time_new
        except:
            date_time_new = datetime.datetime.strptime(date_str,"%d.%m.%Y").date()
            return date_time_new

In [57]:
get_datetime(date3)

datetime.date(2022, 11, 1)