### for - else

In [2]:
for i in range(1,20):
    pass

else:
    print("Loop is completed")

Loop is completed

In the combination of for loop and else block, the else block will execute only when the for loop has completed all of it's iterations

In [4]:
for i in range(1,20):
    
    print(i, end = " ")
    
    if i == 10:
        print("\nWe have reached number 10, now the loop will break")
        break
else:
    print("The Loop is completed")

1 2 3 4 5 6 7 8 9 10
We have reached number 10, now the loop will break

In [5]:
for i in range(1,20):
    
    print(i, end = " ")
    
    if i == 100:
        print("\nWe have reached number 10, now the loop will break")
        break
else:
    print("The Loop is completed")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 The Loop is completed

In [9]:
for i in range(1,100):
    
    if i % 10 == 0:
        print(i, end = " ")
    if i == 30:
        print('\nWe have reached Number 30')
        continue
        print("This is a statement after continue")
else:
    print("\nLoop is completed")

10 20 30
We have reached Number 30
40 50 60 70 80 90
Loop is completed

In [8]:
for i in range(1,100):
    
    if i % 10 == 0:
        print(i, end = " ")
    if i == 30:
        print('\nWe have reached Number 30')
        break
else:
    print("\nLoop is completed")

10 20 30
We have reached Number 30

### Continue

In [12]:
list1 = [4,5,3.6,"python",100,200,7.8,9.9,"Data",1000,"Science","artificial"]

int_list,float_list,str_list = [],[],[]

for item in list1:
    
    if type(item) == int:
        int_list.append(item)
    elif type(item) == float:
        float_list.append(item)
    elif type(item) == str:
        str_list.append(item)
        
print(f"Integer List : {int_list}")
print(f"Float List : {float_list}")
print(f"String List : {str_list}")

Integer List : [4, 5, 100, 200, 1000]
Float List : [3.6, 7.8, 9.9]
String List : ['python', 'Data', 'Science', 'artificial']

In [13]:
list1 = [4,5,3.6,"python",100,200,7.8,9.9,"Data",1000,"Science","artificial"]

int_list,float_list,str_list = [],[],[]

for item in list1:
    
    if type(item) == int:
        int_list.append(item)
    elif type(item) == float:
        float_list.append(item)
    elif type(item) == str:
        continue
        str_list.append(item)
        
print(f"Integer List : {int_list}")
print(f"Float List : {float_list}")
print(f"String List : {str_list}")

Integer List : [4, 5, 100, 200, 1000]
Float List : [3.6, 7.8, 9.9]
String List : []

In [14]:
list1 = [4,5,3.6,"python",100,200,7.8,9.9,"Data",1000,"Science","artificial"]

int_list,float_list,str_list = [],[],[]

for item in list1:
    
    if type(item) == int:
        int_list.append(item)
    elif type(item) == float:
        float_list.append(item)
    elif type(item) == str:
        pass
        str_list.append(item)
        
print(f"Integer List : {int_list}")
print(f"Float List : {float_list}")
print(f"String List : {str_list}")

Integer List : [4, 5, 100, 200, 1000]
Float List : [3.6, 7.8, 9.9]
String List : ['python', 'Data', 'Science', 'artificial']

## Finding Factorial of a Number

In [ ]:
!5 >> 5 * 4 * 3 * 2 * 1
!4 >> 4 * 3 * 2 * 1
!3 >> 3 * 2 * 1
!2 >> 2 * 1
!1 >> 1

In [15]:
n = 5

factorial = 1

for i in range(1,n+1):
    factorial = factorial * i

print(factorial)
    
# first iteration factorial = 1 * 1
# Second Iteration factorial = 1 * 2
# Third Iteration factorial = 2 * 3
# forth iteration factorial = 6 * 4
# fifth iteration factorial = 24 * 5
# factorial = 120

120

In [16]:
n = 5
factorial = 1

for i in range(1,n+1):
    factorial *= i

print(f"The factorial of {n} is {factorial}")

The factorial of 5 is 120

In [21]:
## With user input

n = int(input("Enter number to find factorial "))
factorial = 1
for i in range(1,n+1):
    factorial *= i

print(f"The factorial of {n} is {factorial}")

Enter number to find factorial 20
The factorial of 20 is 2432902008176640000

## Program to find prime number

In [ ]:
Prime Numbers >> The numbers that are divisible by 1 or by itself only

2,3,5,7,11,13,17 >>> Are Prime numbers

1,4,6,8,9,10 >> Are not prime numbers

In [22]:
n = 9

for i in range(2,n):                    # i = 2, 3, 4, 5, 6, 7, 8
    if n % i == 0:
        print("Not A Prime Number")
        break

else:
    print("It is a Prime Number")

Not A Prime Number

In [45]:
## Check if n is Prime Number
n = 17

for i in range(2,n):                    # i = 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16
    if n % i == 0:
        print("Not A Prime Number")
        break

else:
    print("It is a Prime Number")

It is a Prime Number

In [41]:
## User input for testing prime number

num = int(input("Enter number to check if it is a prime number "))

for i in range(2,num):
    
    if num % i == 0:
        print("Not A Prime Number")
        break

        
else:
    print("It is a Prime Number")

Enter number to check if it is a prime number 17
It is a Prime Number

## Fibonacci Series

In [ ]:
0 1 1 2 3 5 8 13 21 34 55 ....

In [33]:
## Printing First Eight Numbers of Fibonacci Series

n = 8 
first = 0
second = 1
print(first, second, end = " ")

for i in range(0,n-2):
    new = first + second
    print(new, end = " ")
    first = second
    second = new

# first iteration >> first (0) + second (1) = new (1)
# Second Iteration >> first (1) + Second (1) = new (2)
# Third Iteration >> first (1) + second (2) = new (3)
# Fourth Iteration >> first (2) + second (3) = new (5)

0 1 1 2 3 5 8 13

In [38]:
## Other method
n = 10
num_lst = [0,1]

for i in range(0,n-2):
    num_lst.append(sum(num_lst[-2:]))
    print(num_lst)

num_lst

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]