# Function Arguments

In [ ]:
1. Postional Argument
2. Default Argument (Keyword Argument)
3. Arbitary Positional Argument
4. Arbitary Keyword Argument

### 1. Positional Argument

In [2]:
def function_name(parameter_1,parameter_2):
    print(parameter_1)
    print(parameter_2)

function_name(12,13)

12
13

In [3]:
def my_func(para_1,para_2):
    print(para_1)
    print(para_2)

my_func(13,12)

13
12

In [4]:
def my_func(num_1,num_2):
    
    print(f"The first number is {num_1}")
    print(f"The Second number is {num_2}")

In [5]:
my_func(12,13)

The first number is 12
The Second number is 13

In [6]:
my_func(13,11)

The first number is 13
The Second number is 11

In [7]:
def triangle_area(b,h):
    
    a = 0.5*b*h
    
    return a

In [8]:
base = 12
height = 20

triangle_area(12,20)

120.0

In [9]:
triangle_area(20,12)

120.0

In [10]:
def calculate(num_1,num_2):
    n = num_1**2 + num_2
    return n

In [11]:
num_1 = 11
num_2 = 12

calculate(11,12)

133

In [12]:
calculate(12,11)

155

### Area of Trapezoid

In [13]:
def area_trapezoid(a,b,h):
    area = ((a+b)/2)*h
    return area

In [14]:
a = 12
b = 20
h = 25

area_trapezoid(12,20,25)

400.0

In [15]:
area_trapezoid(12,25,20)

370.0

### 2. Default Arguments

In [22]:
def addition(a,b,c):
    add = a + b + c
    return add

In [24]:
addition(12,15,13)

40

In [25]:
addition(12,15)

TypeError: addition() missing 1 required positional argument: 'c'

In [26]:
## If the argument is not passed it will take the default value that is given in a function defination
def addition_1(a,b,c=12):
    add = a + b + c
    return add

In [27]:
addition_1(13,14)

39

In [28]:
addition_1(13,14,15)

42

In [29]:
addition_1(10,20)

42

In [30]:
addition_1(10,20,30)

60