In [ ]:
To define function we use def keyword
while writting the name of function we are supposed to follow the rules of creating the identifiers

A function might carryout a task and print the output or return the output
When we put print statement we will get to see the output
And when we use return statement we can store the output in a variable

Docstring: A doc string written inside the fucntion is used to explain the functionality of the function

## Syntax

In [ ]:
def function_name(argument):
    "Docstring explaining functionality of a function"
    statement_1
    statement_2
    
    return value  ## Returning optional

In [1]:
r = 10

area = 3.14*r**2

print(area)

314.0

In [2]:
r = 20

area = 3.14*r**2

print(area)

1256.0

In [3]:
r = 13.5

area = 3.14*r**2

print(area)

572.265

In [4]:
def area_circle(radius):
    area = 3.14*radius**2
    print(f"Area of given circle is {area} units")

In [5]:
area_circle(10)

Area of given circle is 314.0 units

In [6]:
area_circle(11)

Area of given circle is 379.94 units

In [7]:
area_circle(50)

Area of given circle is 7850.0 units

In [8]:
def area_circle(r):
    """
    Args: 
    r >> Radius of a circle
    
    Returns:
    Area of a circle for the given radius
    
    """
    
    area = 3.14*r**2
    
    return area

In [10]:
area1 = area_circle(20)

In [11]:
print(area1)

1256.0

In [29]:
def area(shape,dimensions):
    """
    Args:
    shape: shape of an entity whose area to be found, this function can be used
           to find area of circle,square,triangle,rectangle only
    
    dimensions: Dimensions will be a sigle value for circle and square, whereas for
                triangle and rectangle dimensions need to passed in an iterable viz.
                list or a tuple
    Returns: 
    an area of the given entity
    
    """
    if shape == "circle":
        a = 3.14*dimensions**2
    
    elif shape == 'square':
        a = dimensions**2
        
    elif shape == "triangle":
        a = 0.5*dimensions[0]*dimensions[1]
        
    elif shape == "rectangle":
        a = dimensions[0]*dimensions[1]
    
    return a

In [23]:
area_circle = area("circle",12)
print(area_circle)

452.16

In [24]:
area_square = area("square",15)
print(area_square)

225

In [25]:
area_triangle = area("triangle",[12,20])
print(area_triangle)

120.0

In [26]:
area_rect = area("rectangle",[12,20])
print(area_rect)

240

### Functions to find average of three numbers

In [30]:
a = 10
b = 20
c = 30

average = (a+b+c)/3

print(average)

20.0

In [32]:
a = 50
b = 100
c = 151

average = (a+b+c)/3

print(average)

100.33333333333333

In [39]:
def average(a,b,c):
    avg = (a + b + c)/3
    
    print(avg)
    return avg

In [40]:
average(22,55,78)

51.666666666666664

51.666666666666664

In [35]:
three_num_avg = average(22,55,78)

51.666666666666664

In [36]:
print(three_num_avg)

51.666666666666664

In [41]:
## Chnage the order of print and return
def average(a,b,c):
    avg = (a + b + c)/3
    
    return avg
    print(avg) ## After return stateemnt print will not work

In [42]:
average(20,11,33)

21.333333333333332

In [44]:
### function for finding average of many numbers

def average(iterable):
    total = 0
    
    for i in iterable:
        total = total + i
    avg = total/len(iterable)
    
    return avg

In [45]:
average([1,23,55,77,88,100,23])

52.42857142857143

In [46]:
average(range(50))

24.5

### Factorial

In [47]:
num = 5

fact = 1

for i in range(1,num+1):
    fact = fact*i

print(fact)

120

In [49]:
num = 6

fact = 1

for i in range(1,num+1):
    fact = fact*i

print(fact)

720

In [59]:
## Function of factorial

def factorial(x):
    fact = 1
    if x == 1:
        print(1)
    else:
        for i in range(1,x+1):
            fact = fact * i
    
    print(fact)

In [60]:
factorial(12)

479001600

In [58]:
factorial(7)

5040
*******************************

In [53]:
factorial(4)

24

In [55]:
factorial(1)

1
1