## Write a function to add two numbers

In [1]:
def add_num(a,b):
    c = a + b
    print(c)

In [2]:
add_num(10,22)

32

In [3]:
add_num(10,35)

45

In [4]:
def add_three_num(a,b,c):
    d = a + b + c
    print(d)

In [5]:
add_three_num(12,13,14)

39

### Function to take sum of numbers in a list:

In [7]:
lst = [1,2,3,3,22,44,64,78,11,99,20,33]

sum(lst)

380

In [9]:
lst = [1,2,3,3,22,44,64,78,11,99,20,33]

total = 0

for i in lst:
    total = total + i

print(total)

380

In [15]:
def list_sum(a):
    tot = 0
    for i in a:
        tot = tot + i
    print(tot)

In [16]:
list_sum(lst)

380

In [19]:
list2 = [1,2,3,4,5,6,7,8,9,11,2,3,1,3,3423,4556]

In [20]:
list_sum(list2)

8044

## Function to filter odd numbers in a list:

In [21]:
list2 = [1,2,3,4,5,6,7,8,9,11,2,3,1,3,3423,4556]
list3 = []

for i in list2:
    if i%2!=0:
        pass
    else:
        list3.append(i)
print(list3)

[2, 4, 6, 8, 2, 4556]

In [22]:
def filter_odd(a):
    
    list1 = []
    
    for i in a:
        if i%2 == 0:
            list1.append(i)
        else:
            pass
    print(list1)

In [23]:
list2 = [1,2,3,4,5,6,7,8,9,11,2,3,1,3,3423,4556]

filter_odd(list2)

[2, 4, 6, 8, 2, 4556]

In [24]:
list4 = [1,2,3,4,5,6,7,8,9,11,2,3,1,3,3423,4556,234,23,534,2,234,56,33345,4,45]

filter_odd(list4)

[2, 4, 6, 8, 2, 4556, 234, 534, 2, 234, 56, 4]

In [25]:
def filter_odd_even(a):
    even_list = []
    odd_list = []
    for i in a:
        if i % 2 == 0:
            even_list.append(i)
        else:
            odd_list.append(i)
    print(f"List of Even Numbers :{even_list}")
    print(f"List of Odd Numbers :{odd_list}")

In [26]:
filter_odd_even(list4)

List of Even Numbers :[2, 4, 6, 8, 2, 4556, 234, 534, 2, 234, 56, 4]
List of Odd Numbers :[1, 3, 5, 7, 9, 11, 3, 1, 3, 3423, 23, 33345, 45]

In [28]:
def filter_odd_even_v2(a):
    even_list = [i for i in a if i % 2==0]
    odd_list = [i for i in a if i % 2!=0]
    print(f"List of Even Numbers :{even_list}")
    print(f"List of Odd Numbers :{odd_list}")

In [29]:
filter_odd_even_v2(list4)

List of Even Numbers :[2, 4, 6, 8, 2, 4556, 234, 534, 2, 234, 56, 4]
List of Odd Numbers :[1, 3, 5, 7, 9, 11, 3, 1, 3, 3423, 23, 33345, 45]

### Write a function to replace white spaces by underscore and vice versa

In [40]:
string = "Write a function to replace_white_spaces_by underscore and vice versa"

In [31]:
string.replace(" ","_")

'Write_a_function_to_replace_white_spaces_by_underscore_and_vice_versa'

In [32]:
string.replace("_"," ")

'Write a function to replace white spaces by underscore and vice versa'

In [34]:
string = "Write a function to replace_white_spaces_by underscore and vice versa"

string = string.replace("_","*")

In [35]:
string

'Write a function to replace*white*spaces*by underscore and vice versa'

In [36]:
string = string.replace(" ","_")
string

'Write_a_function_to_replace*white*spaces*by_underscore_and_vice_versa'

In [38]:
string.replace("*"," ")

'Write_a_function_to_replace white spaces by_underscore_and_vice_versa'

In [39]:
def replace_stuff(a):
    a = a.replace("_","*")
    a = a.replace(" ","_")
    a = a.replace("*"," ")
    print(a)

In [41]:
string = "Write a function to replace_white_spaces_by underscore and vice versa"
replace_stuff(string)

Write_a_function_to_replace white spaces by_underscore_and_vice_versa

In [ ]:
                1
               1 1
              1 2 1
             1 3 3 1
            1 4 6 4 1