In [ ]:
List Functions
1. append
2. extend
3. insert
4. remove
5. pop
6. clear
7. copy
8. sort
9. count
10. index
9. reverse
10. sorted
11. reversed

In [5]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]

even = 0
odd = 0

for i in list1:
    if i % 2 == 0 :
        even += 1
        print(f"Number : {i}  ODD/EVEN : even")
    else:
        odd += 1
        print(f"Number : {i}  ODD/EVEN : odd")
print(f"\nIn the given list there are {even} even numbers and {odd} odd numbers")

Number : 1  ODD/EVEN : odd
Number : 2  ODD/EVEN : even
Number : 3  ODD/EVEN : odd
Number : 4  ODD/EVEN : even
Number : 5  ODD/EVEN : odd
Number : 6  ODD/EVEN : even
Number : 7  ODD/EVEN : odd
Number : 8  ODD/EVEN : even
Number : 9  ODD/EVEN : odd
Number : 10  ODD/EVEN : even
Number : 11  ODD/EVEN : odd
Number : 12  ODD/EVEN : even
Number : 13  ODD/EVEN : odd

In the given list there are 6 even numbers and 7 odd numbers

In [7]:
squares = []

for i in range(1,12):
    squares.append(i**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [8]:
sub_list = ["Phy", "Chem", "Bio", "Math", "Eng", "Mar", "His", "Geo"]
sub_list2 = []

for subject in sub_list:
    sub_list2.append(subject.upper())

sub_list2

['PHY', 'CHEM', 'BIO', 'MATH', 'ENG', 'MAR', 'HIS', 'GEO']

### List Comprehension

In [ ]:
Syntax::

new_list = [expression for variable in sequence]
new_list = [expression for variable in sequence if condition == True]
new_list = [short hand if else expression for variable in sequence]

In [9]:
## Prepare list of squares for the number from 1 to 12

squares = [i**2 for i in range(1,13)]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [10]:
## Prepape the list of cubes for numbers in range 10 to 20

## Usual Method

cube = []
for i in range(10,21):
    cube.append(i**3)

print(cube)

[1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [11]:
## With List Comprehension

cube1 = [i**3 for i in range(10,22)]

print(cube1)

[1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261]

In [12]:
## Usual Method
sub_list = ["Phy", "Chem", "Bio", "Math", "Eng", "Mar", "His", "Geo"]
sub_list2 = []

for subject in sub_list:
    sub_list2.append(subject.upper())

sub_list2

['PHY', 'CHEM', 'BIO', 'MATH', 'ENG', 'MAR', 'HIS', 'GEO']

In [13]:
## List Comprehension

sub_list = ["Phy", "Chem", "Bio", "Math", "Eng", "Mar", "His", "Geo"]
sub_list2 = [i.upper() for i in sub_list]

print(sub_list2)

['PHY', 'CHEM', 'BIO', 'MATH', 'ENG', 'MAR', 'HIS', 'GEO']

In [15]:
## Create a new list of even number with the numbers form list1

list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]

## Ususal Way
even_number = []

for i in list1:
    
    if i % 2 == 0:
        even_number.append(i)
    
    else:
        pass
    
print(even_number)

[2, 4, 6, 8, 10, 12]

In [16]:
## List Comprehension

list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]

even_number = [i for i in list1 if i%2 == 0]

even_number

[2, 4, 6, 8, 10, 12]

In [17]:
odd_number = [i for i in list1 if i%2 != 0 ]
odd_number

[1, 3, 5, 7, 9, 11, 13]

In [18]:
## Short hand if else:

x = 5

if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is odd

In [19]:
print("x is even") if x % 2 == 0 else print("x is odd")

x is odd

In [27]:
for i in range(1,22):
    print("Even",end = " ") if i % 2 == 0 else print("Odd", end = " ")

Odd Even Odd Even Odd Even Odd Even Odd Even Odd Even Odd Even Odd Even Odd Even Odd Even Odd

In [34]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]
list2 = [] ## Odd even will be appended for the numbers in list1


## AAM JINDAGI
for i in list1:
    if i % 2 == 0:
        list2.append("EVEN")
    else:
        list2.append("ODD")
print(list2)
end_time = time.time()

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [24]:
## Mentos Waali Jindagi
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]
list2 = ["EVEN" if i%2==0 else "ODD" for i in list1]

In [26]:
print(list2)

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [31]:
list1 = [4,23,55,1,22,12,34,33,26,44,51,67,79,48,91,47]
list2 = ["EVEN" if i%2==0 else "ODD" for i in list1]
print(list2)

['EVEN', 'ODD', 'ODD', 'ODD', 'EVEN', 'EVEN', 'EVEN', 'ODD', 'EVEN', 'EVEN', 'ODD', 'ODD', 'ODD', 'EVEN', 'ODD', 'ODD']

In [37]:
list1 = [4,23,55,1,22,12,34,33,26,44,51,67,79,48,91,47]
## 1 == even
## 0 == odd
list2 = [1 if i%2==0 else 0 for i in list1]

list2

[1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0]

In [38]:
list2.count(1)

7

In [39]:
list2.count(0)

9

In [41]:
list1 = [4,23,55,1,22,12,34,33,26,44,51,67,79,48,91,47]
## 1 == even
## 0 == odd
list2 = [i**2 if i%2==0 else i**3 for i in list1]

print(list2)

[16, 12167, 166375, 1, 484, 144, 1156, 35937, 676, 1936, 132651, 300763, 493039, 2304, 753571, 103823]

In [43]:
a = 10
b = 10
if id(a)==id(b):
    print("Same Location")
else:
    
    print("Different Location")

Same Location

In [44]:
a = 11
b = 11
if id(a)==id(b):
    print("Same Location")
else:
    
    print("Different Location")

Same Location

In [6]:
a = 256
b = 256

if id(a)==id(b):
    print("Same Location")
else:
    print("Different Location")

Same Location

In [7]:
a = 257
b = 257

if id(a)==id(b):
    print("Same Location")
else:
    print("Different Location")

Different Location

In [ ]:
string = "jsdbfhgvshgd`"