# List

In [ ]:
1. Mutable
2. It is an ordered datatype
3. Duplicates are allowed
4. Lists are enclosed [ ]
5. The items in the list are comma seperated

# List Indexing

In [1]:
list1 = [1,2,3,22,13,42,12,454,32]

In [ ]:
list1 =  [1,  2,  3,  22,  13,  42,  12,  454,  32]
index >>  0   1   2    3    4    5    6    7     8    >> Posetive index
index >> -9  -8  -7   -6   -5   -4   -3   -2    -1    >> Negative index

In [2]:
list1[0]

1

In [3]:
list1[6]

12

In [4]:
list1[-4]

42

In [5]:
list1[-1]

32

## Slicing of List

In [ ]:
Syntax >> [start_index : end_index : step_size]

In [6]:
list1 =  [1,  2,  3,  22,  13,  42,  12,  454,  32]

In [ ]:
list1 =  [1,  2,  3,  22,  13,  42,  12,  454,  32]
index >>  0   1   2    3    4    5    6    7     8    >> Posetive index
index >> -9  -8  -7   -6   -5   -4   -3   -2    -1    >> Negative index

In [8]:
list1[3:]

[22, 13, 42, 12, 454, 32]

In [9]:
list1[:5]

[1, 2, 3, 22, 13]

In [10]:
list1[::]

[1, 2, 3, 22, 13, 42, 12, 454, 32]

In [11]:
list1[2:7:1]

[3, 22, 13, 42, 12]

In [12]:
list1[2:7:2]

[3, 13, 12]

## Negative Step Size

In [13]:
list1 =  [1,  2,  3,  22,  13,  42,  12,  454,  32]

In [ ]:
list1 =  [1,  2,  3,  22,  13,  42,  12,  454,  32]
index >>  0   1   2    3    4    5    6    7     8    >> Posetive index
index >> -9  -8  -7   -6   -5   -4   -3   -2    -1    >> Negative index

In [14]:
list1[::-1]

[32, 454, 12, 42, 13, 22, 3, 2, 1]

In [15]:
list1[8:-10:-1]

[32, 454, 12, 42, 13, 22, 3, 2, 1]

In [16]:
list1[6:2:-1]

[12, 42, 13, 22]

In [17]:
list1[2:7:-1]  # We always need higher index in start position for negative step size (Descending Order)

[]

In [18]:
list1[7:2:-1]

[454, 12, 42, 13, 22]

In [19]:
list1[7:2:-2]

[454, 42, 22]

In [20]:
list1 = ["Ramesh","Suresh","Naresh","Dinesh","Jignesh","Mahesh","Kamlesh"]

In [21]:
list1[2:5]

['Naresh', 'Dinesh', 'Jignesh']

In [22]:
list1[5:2]

[]

### Accessing Items of List Using For Loop

In [ ]:
for item in list1:
    statement 1
    statement 2
    statement 3

In [51]:
list1 = ["Ramesh","Suresh","Naresh","Dinesh","Jignesh","Mahesh","Kamlesh"]

In [53]:
for item in list1:
    print(item)

Ramesh
Suresh
Naresh
Dinesh
Jignesh
Mahesh
Kamlesh

In [25]:
for item in list1:
    print(item, end = "\n")

Ramesh
Suresh
Naresh
Dinesh
Jignesh
Mahesh
Kamlesh

In [26]:
for item in list1:
    print(item, end = " ")

Ramesh Suresh Naresh Dinesh Jignesh Mahesh Kamlesh

In [27]:
for item in list1:
    item = item[0:-3]
    print(item)

Ram
Sur
Nar
Din
Jign
Mah
Kaml

In [28]:
for item in list1:
    item = item.replace("esh","")
    print(item)

Ram
Sur
Nar
Din
Jign
Mah
Kaml

In [30]:
for item in list1:
    item = list(item)
    print(item)
    item = item[0:-3]
    print(item)
    item = "".join(item)
    print(item)

['R', 'a', 'm', 'e', 's', 'h']
['R', 'a', 'm']
Ram
['S', 'u', 'r', 'e', 's', 'h']
['S', 'u', 'r']
Sur
['N', 'a', 'r', 'e', 's', 'h']
['N', 'a', 'r']
Nar
['D', 'i', 'n', 'e', 's', 'h']
['D', 'i', 'n']
Din
['J', 'i', 'g', 'n', 'e', 's', 'h']
['J', 'i', 'g', 'n']
Jign
['M', 'a', 'h', 'e', 's', 'h']
['M', 'a', 'h']
Mah
['K', 'a', 'm', 'l', 'e', 's', 'h']
['K', 'a', 'm', 'l']
Kaml

In [31]:
list1 = ["Ramesh","Suresh","Naresh","Dinesh","Jignesh","Mahesh","Kamlesh"]
for item in list1:
    item = item + " " + "Surname"
    
    print(item)

Ramesh Surname
Suresh Surname
Naresh Surname
Dinesh Surname
Jignesh Surname
Mahesh Surname
Kamlesh Surname

In [33]:
list1 = [1,2,3,4,"Python","5","Data Science",9,10,"11"]

for item in list1:
    a = item*2
    print(a)

2
4
6
8
PythonPython
55
Data ScienceData Science
18
20
1111

In [34]:
for i in list1:
    if type(i) == int:
        a = i**2
        print(a)
    elif type(i) == str:
        a = i + " " + i
        print(a)

1
4
9
16
Python Python
5 5
Data Science Data Science
81
100
11 11

In [37]:
for i in list1:
    if type(i) == int:
        a = i**2
        print(a)
    elif type(i) == str:
        try:
            i = int(i)
            a = i**2
            print(a)
        except:
            a = i + " " + i
            print(a)

1
4
9
16
Python Python
25
Data Science Data Science
81
100
121

In [39]:
list1 = ["Ramesh","Suresh","Naresh","Dinesh","Jignesh","Mahesh","Kamlesh"]

for name in list1:
    a = name.upper()
    print(a, end = " ")

RAMESH SURESH NARESH DINESH JIGNESH MAHESH KAMLESH

### enumerate()

In [40]:
list1 = ["Ramesh","Suresh","Naresh","Dinesh","Jignesh","Mahesh","Kamlesh"]

for i in enumerate(list1):
    print(i)

(0, 'Ramesh')
(1, 'Suresh')
(2, 'Naresh')
(3, 'Dinesh')
(4, 'Jignesh')
(5, 'Mahesh')
(6, 'Kamlesh')

In [41]:
print(enumerate(list1))

<enumerate object at 0x0000027823C11140>

In [42]:
for index, name in enumerate(list1):
    print(f"Index:{index}    Name:{name}")

Index:0    Name:Ramesh
Index:1    Name:Suresh
Index:2    Name:Naresh
Index:3    Name:Dinesh
Index:4    Name:Jignesh
Index:5    Name:Mahesh
Index:6    Name:Kamlesh

In [43]:
for i, n in enumerate(list1):
    print(f"Index:{i}    Name:{n}")

Index:0    Name:Ramesh
Index:1    Name:Suresh
Index:2    Name:Naresh
Index:3    Name:Dinesh
Index:4    Name:Jignesh
Index:5    Name:Mahesh
Index:6    Name:Kamlesh

### Iterating over two list at same time (zip function)

In [44]:
name = ["Ramesh","Suresh","Naresh","Dinesh","Jignesh","Mahesh","Kamlesh"]
surname = ["Patil","Wagh","Verma","Deshpande","Patel","Bhat","Modi"]

for item in zip(name, surname):
    print(item)

('Ramesh', 'Patil')
('Suresh', 'Wagh')
('Naresh', 'Verma')
('Dinesh', 'Deshpande')
('Jignesh', 'Patel')
('Mahesh', 'Bhat')
('Kamlesh', 'Modi')

In [45]:
print(zip(name, surname))

<zip object at 0x00000278238CC740>

In [46]:
for n, s in zip(name, surname):
    print(n+" "+s)

Ramesh Patil
Suresh Wagh
Naresh Verma
Dinesh Deshpande
Jignesh Patel
Mahesh Bhat
Kamlesh Modi

In [47]:
name = ["Ramesh","Suresh","Naresh","Dinesh","Jignesh","Mahesh","Kamlesh"]
surname = ["Patil","Wagh","Verma","Deshpande","Patel","Bhat","Modi"]

for item in enumerate(zip(name, surname)):
    print(item)

(0, ('Ramesh', 'Patil'))
(1, ('Suresh', 'Wagh'))
(2, ('Naresh', 'Verma'))
(3, ('Dinesh', 'Deshpande'))
(4, ('Jignesh', 'Patel'))
(5, ('Mahesh', 'Bhat'))
(6, ('Kamlesh', 'Modi'))

# List Functions

### 1. append()

In [ ]:
syntax >> list.append(item)
adds an item at the last index of the list

In [55]:
list1 = [1,2,3,4,5,6]

In [56]:
list1.append("Python")

print(list1)

[1, 2, 3, 4, 5, 6, 'Python']

In [57]:
list1.append("12")

print(list1)

[1, 2, 3, 4, 5, 6, 'Python', '12']

In [58]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

list1.append(list2)

In [59]:
print(list1)

[1, 2, 3, 4, [5, 6, 7, 8]]

### Initiating an empty list

In [60]:
list1 = []

In [62]:
print(list1)

[]

### Using for loop with append

In [64]:
list1 = []

for item in range(1,30):
    print(item, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

In [65]:
print(range(1,30))

range(1, 30)

In [ ]:
syntax of range >> range(starting_number, end_number, step_size)

In [67]:
list1 = []

for i in range(1,10):
    list1.append(i)
    print(list1)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
# Create a list of even number from 1 to 20
even_num = []

for i in range(1,21):
    if i % 2 == 0:
        even_num.append(i)
        print(even_num)
    else:
        pass
print(even_num)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14, 16]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [77]:
even_num = ""

for i in range(1,21):
    if i % 2 == 0:
        even_num = even_num + str(i) + " "
        print(even_num)
    else:
        pass

2
2 4
2 4 6
2 4 6 8
2 4 6 8 10
2 4 6 8 10 12
2 4 6 8 10 12 14
2 4 6 8 10 12 14 16
2 4 6 8 10 12 14 16 18
2 4 6 8 10 12 14 16 18 20

In [73]:
even_num

'2 4 6 8 10 12 14 16 18 20 '

In [81]:
even_num = []

for i in range(2,21,2):
    even_num.append(i)
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
## "Write a program to replace_white_space_in a string by underscore and vice_versa_"

Hello world

In [91]:
x= -10 % 3
print (x)
c= 10 % 3
print(c)

2
1

In [92]:
10//3

3

In [93]:
-10//3

-4