# List Function

In [ ]:
1. append()
2. extend()

### 1. append()

In [1]:
list1 = ["1",2,3,"4","Python",7,20,"Data"]

list1.append("Science")

print(list1)

['1', 2, 3, '4', 'Python', 7, 20, 'Data', 'Science']

In [2]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

list1.append(list2)

print(list1)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

### 2. extend()

In [3]:
# Extends the list by given iterable
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list1 = ["Ramesh", "Suresh", "Dinesh"]
list2 = ["50","60","70"]

list1.extend(list2)

print(list1)

['Ramesh', 'Suresh', 'Dinesh', '50', '60', '70']

In [7]:
list1 = ["Ramesh", "Suresh", "Dinesh"]
tuple1 = ("50","60","70")

list1.extend(tuple1)

print(list1)

['Ramesh', 'Suresh', 'Dinesh', '50', '60', '70']

In [8]:
list1 = ["Ramesh", "Suresh", "Dinesh"]
range1 = range(60,66)

list1.extend(range1)

print(list1)

['Ramesh', 'Suresh', 'Dinesh', 60, 61, 62, 63, 64, 65]

### 3. insert()

In [ ]:
# Inserts the value at given index
Syntax >> list1.insert(index,value)

In [9]:
list1 = ["0","1","2","3","4","5","6"]
list1.insert(2,"value")

print(list1)

['0', '1', 'value', '2', '3', '4', '5', '6']

In [11]:
list1 = ["Ramesh","Suresh","Dinesh","Mahesh","Ganesh"]

list1.insert(3,"Delhi")

print(list1)

['Ramesh', 'Suresh', 'Dinesh', 'Delhi', 'Mahesh', 'Ganesh']

In [12]:
list1 = ["Ramesh","Suresh","Dinesh","Mahesh","Ganesh"]

list1.insert(-1,"Delhi")

print(list1)

['Ramesh', 'Suresh', 'Dinesh', 'Mahesh', 'Delhi', 'Ganesh']

In [14]:
list1 = ["Ramesh","Suresh","Dinesh","Mahesh","Ganesh"]

list1.insert(5,"Delhi")

print(list1)

['Ramesh', 'Suresh', 'Dinesh', 'Mahesh', 'Ganesh', 'Delhi']

In [15]:
list1 = ["Ramesh","Suresh","Dinesh","Mahesh","Ganesh",'Delhi']

list1.insert(50,"Mumbai")

print(list1)

['Ramesh', 'Suresh', 'Dinesh', 'Mahesh', 'Ganesh', 'Delhi', 'Mumbai']

# Funtions to delete items from the list

In [ ]:
1. remove()
2. pop()
3. clear()
4. del # Inbuilt python function

### 1. remove()

In [ ]:
## This function removes the first occurance of the given item from the list

Syntax >> list1.remove(item)

In [48]:
list1 = ["Mumbai","Delhi","Chennai","Mumbai","Kolkata","Banglore","Delhi","Pune"]

list1.remove("Mumbai")
print(list1)
print(city)

['Delhi', 'Chennai', 'Mumbai', 'Kolkata', 'Banglore', 'Delhi', 'Pune']
None

In [17]:
list1.remove("Mumbai")
list1

['Delhi', 'Chennai', 'Kolkata', 'Banglore', 'Delhi', 'Pune']

In [20]:
list1.remove("Mumbai")
list1

ValueError: list.remove(x): x not in list

In [19]:
list1 = [1,2,3,4,5,2,3,5,6,72,3,4,5,7,8,4,5,6,3,4]

list1.remove(4)
list1

[1, 2, 3, 5, 2, 3, 5, 6, 72, 3, 4, 5, 7, 8, 4, 5, 6, 3, 4]

In [21]:
for i in list1:
    if 4 in list1:
        list1.remove(4)
    else:
        pass

In [22]:
list1

[1, 2, 3, 5, 2, 3, 5, 6, 72, 3, 5, 7, 8, 5, 6, 3]

### 2. pop()

In [ ]:
## It removes the last indexed item when the index is not passed as an argument
## If the index is passed it will remove item from that index

list1.pop(index) # Default argument is -1

In [47]:
list1 = ["Mumbai","Delhi","Chennai","Mumbai","Kolkata","Banglore","Delhi","Pune"]

city = list1.pop()
print(list1)
print(city)

['Mumbai', 'Delhi', 'Chennai', 'Mumbai', 'Kolkata', 'Banglore', 'Delhi']
Pune

In [24]:
list1.pop()
print(list1)

['Mumbai', 'Delhi', 'Chennai', 'Mumbai', 'Kolkata', 'Banglore']

In [25]:
list1.pop()
print(list1)

['Mumbai', 'Delhi', 'Chennai', 'Mumbai', 'Kolkata']

In [26]:
list1.pop()
print(list1)

['Mumbai', 'Delhi', 'Chennai', 'Mumbai']

In [27]:
list1.pop()
print(list1)

['Mumbai', 'Delhi', 'Chennai']

In [28]:
list1 = ["Mumbai","Delhi","Chennai","Mumbai","Kolkata","Banglore","Delhi","Pune"]

list1.pop(2)
print(list1)

['Mumbai', 'Delhi', 'Mumbai', 'Kolkata', 'Banglore', 'Delhi', 'Pune']

In [29]:
list1.pop(2)
print(list1)

['Mumbai', 'Delhi', 'Kolkata', 'Banglore', 'Delhi', 'Pune']

In [30]:
list1.pop(4)
print(list1)

['Mumbai', 'Delhi', 'Kolkata', 'Banglore', 'Pune']

### 3. clear()

In [ ]:
## It removes all the items form the list

list1.clear()

In [31]:
list1 = [1,2,3,4,5,6,7]
list1.clear()

print(list1)

[]

In [32]:
list1.append(122)
print(list1)

[122]

In [33]:
list1.append(1)
print(list1)

[122, 1]

In [34]:
list1.clear()
print(list1)

[]

### 4. del

In [36]:
list1 = [1,2,3,4,5]

del list1

print(list1)

NameError: name 'list1' is not defined

In [37]:
city_list = ["Mumbai","Delhi","Chennai","Mumbai","Kolkata","Banglore","Delhi","Pune"]

In [38]:
del city_list

In [39]:
print(city_list)

NameError: name 'city_list' is not defined

# Sorting Functions

### 1. Ascending Order

In [41]:
list1 = [1,5,2,1,6,73,4,2,3,4,59,7,5,3,2]

list1.sort() # List Function

print(list1)

[1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 59, 73]

In [42]:
subject_list = ["Phy","Chem","Maths","Bio","Computer","Eng"]

subject_list.sort() # List Function

print(subject_list)

['Bio', 'Chem', 'Computer', 'Eng', 'Maths', 'Phy']

In [43]:
subject_list = ["Phy","Chem","Maths","Bio","Computer","Eng", "bio"]

subject_list.sort() #List Function

print(subject_list)

['Bio', 'Chem', 'Computer', 'Eng', 'Maths', 'Phy', 'bio']

### 2. Descending order

In [44]:
list1 = [1,5,2,1,6,73,4,2,3,4,59,7,5,3,2]

list1.sort(reverse = True) # List Function

print(list1)

[73, 59, 7, 6, 5, 5, 4, 4, 3, 3, 2, 2, 2, 1, 1]

In [45]:
subject_list = ["Phy","Chem","Maths","Bio","Computer","Eng", "bio"]

subject_list.sort(reverse = True) # List Function

print(subject_list)

['bio', 'Phy', 'Maths', 'Eng', 'Computer', 'Chem', 'Bio']

### sort function doesn't return anything

In [46]:
subject_list = ["Phy","Chem","Maths","Bio","Computer","Eng", "bio"]

subject_list_2 = subject_list.sort()
print(subject_list_2)

None

### Buit in Python Function for sorting list

In [49]:
list1 = [1,5,2,1,6,73,4,2,3,4,59,7,5,3,2]

sorted(list1)

[1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 59, 73]

In [52]:
list1 = [1,5,2,1,6,73,4,2,3,4,59,7,5,3,2]

list2 = sorted(list1) ## sorted returns the sorted list

print(list1)
print(list2)

[1, 5, 2, 1, 6, 73, 4, 2, 3, 4, 59, 7, 5, 3, 2]
[1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 59, 73]

In [51]:
list1 = [1,5,2,1,6,73,4,2,3,4,59,7,5,3,2]

list2 = sorted(list1, reverse = True) ## sorted returns the sorted list

print(list2)

[73, 59, 7, 6, 5, 5, 4, 4, 3, 3, 2, 2, 2, 1, 1]

### Reverse

In [54]:
# It reverses the existing list in place and does not return anything
list1 = ["Python","Machine","Data","Artificial","Learning","Science","Intelligence"]

list1.reverse() ## List Function

print(list1)

['Intelligence', 'Science', 'Learning', 'Artificial', 'Data', 'Machine', 'Python']

In [55]:
list1 = ["Python","Machine","Data","Artificial","Learning","Science","Intelligence"]

# If indexing is used for reversing the list, it does not alter the existing list but returns a reversed copy of it

print(list1[::-1])
print(list1)

['Intelligence', 'Science', 'Learning', 'Artificial', 'Data', 'Machine', 'Python']
['Python', 'Machine', 'Data', 'Artificial', 'Learning', 'Science', 'Intelligence']

### Built in Python Function for Rerversing the list

### reversed

In [58]:
list1 = ["Python","Machine","Data","Artificial","Learning","Science","Intelligence"]

list2 = reversed(list1)

print(list1)
print(list2)
print(list(list2))

['Python', 'Machine', 'Data', 'Artificial', 'Learning', 'Science', 'Intelligence']
<list_reverseiterator object at 0x0000017581968850>
['Intelligence', 'Science', 'Learning', 'Artificial', 'Data', 'Machine', 'Python']

## Other Built in functions for List

In [ ]:
1. max()
2. min()
3. sum()
4. len()
5. id()
6. tuple()

In [60]:
num_list = [1,5,2,1,6,73,4,2,3,4,59,7,5,3,2]
print(max(num_list))

73

In [61]:
print(min(num_list))

1

In [66]:
min_num = min(num_list)

print(min_num)

1

In [62]:
print(sum(num_list))

177

In [63]:
print(len(num_list))

15

In [64]:
print(id(num_list))

1604191978368

In [65]:
tuple1 = tuple(num_list)

print(tuple1)

(1, 5, 2, 1, 6, 73, 4, 2, 3, 4, 59, 7, 5, 3, 2)

### index()

In [ ]:
### Retruns first occurance of the item in the list

In [68]:
num_list = [1,5,2,1,6,73,4,2,3,4,59,7,5,3,2]

num_list.index(6)

4

In [69]:
num_list.index(2)

2

In [70]:
num_list.index(3)

8

### count()

In [71]:
## Returns the count of item in the list
num_list = [1,5,2,1,6,73,4,2,3,4,59,7,5,3,2]

num_list.count(2)

3

In [72]:
num_list.count(3)

2

In [73]:
num_list.count(73)

1

In [74]:
num_list.count(5)

2

In [75]:
city_names = ["Mumbai","Delhi","Chennai","Mumbai","Kolkata","Banglore","Delhi","Pune"]

city_names.count("Delhi")

2

In [76]:
city_names.count("Mumbai")

2

In [77]:
city_names.count("Chennai")

1

# Copy Function

In [81]:
list1 = [1,2,3,4,5]

list2 = list1

list1.append(100)

print(list1)
print(list2)

[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5, 100]

In [83]:
print(id(list1))
print(id(list2))

1604191331776
1604191331776

In [84]:
list1 = [1,2,3,4,5]

list2 = list1.copy()

list1.append(100)

print(list1)
print(list2)

[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5]

In [85]:
print(id(list1))
print(id(list2))

1604191266240
1604192097216

## Nested List

In [86]:
list1 = [1,2,3,4,5,[6,7,8],9,10]

list2 = list1.copy()

list1.append(100)

print(list1)
print(list2)

[1, 2, 3, 4, 5, [6, 7, 8], 9, 10, 100]
[1, 2, 3, 4, 5, [6, 7, 8], 9, 10]

In [92]:
list1 = [1,2,3,4,5,[6,7,8],9,10]

list2 = list1.copy() ## Shallow Copy

list1[5][1] = 100

print(list1)
print(list2)

[1, 2, 3, 4, 5, [6, 100, 8], 9, 10]
[1, 2, 3, 4, 5, [6, 100, 8], 9, 10]

### Deep Copy

In [95]:
import copy

list1 = [1,2,3,4,5,[6,7,8],9,10]

list2 = copy.deepcopy(list1)

list1[5][1] = 100

print(list1)
print(list2)

[1, 2, 3, 4, 5, [6, 100, 8], 9, 10]
[1, 2, 3, 4, 5, [6, 7, 8], 9, 10]