In [3]:
n = 5

for i in range(n):  ## 0, n
    for j in range(n):  # 0, n
        print("*", end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [25]:
n = 6

for i in range(0,n):
    for j in range(0,i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [29]:
n = 6
j = 6
for i in range(1,n+1):
    for j in range(0,j):
        print(j, end = " ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [ ]:
Iteration     j        range()    last value
1             6          0,6         5
2             5          0,5         4

In [5]:
n = 6

for i in range(n,0,-1):
    for j in range(1,i+1):
        print("*",end = " ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * *
* * * * * 
* * * * 
* * * 
* * 
*

In [6]:
n = 6

for i in range(1,n+1):
    for j in range(1,i+1):
        print("*", end = " ")
    print()

for i in range(n,0,-1):
    for j in range(1,i+1):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
n = 6

for i in range(1,n+1):
    for j in range(1,i+1):
        print("*", end = " ")
    print()

for i in range(n-1,0,-1):
    for j in range(1,i+1):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
     *
    **
   ***
  ****
 *****
******

In [9]:
n = 6
# Space   Star
# (n-1)    1
# (n-2)    2
# (n-3)    3
# (n-4)    4
# (n-5)    5
# (n-6)    6

for i in range(1,n+1):
    
    print(" "*(n-i) + "*"*i)

     *
    **
   ***
  ****
 *****
******

In [ ]:
     *
    ***
   *****
  *******
 *********
***********

In [ ]:
12345*
1234**
123***
12****
1*****
******

In [ ]:
12345*
1234***
123*****
12*******
1*********
***********

In [11]:
n = 6

# i = 1 (2*i-1) >> 1
# i = 2 (2*i-1) >> 3
# i = 3 (2*i-1) >> 5
# i = 4 (2*i-1) >> 7
# i = 5 (2*i-1) >> 9
# i = 6 (2*i-1) >> 11

for i in range(1,n+1):
    
    print(" "*(n-i) + "*"*(2*i-1))

     *
    ***
   *****
  *******
 *********
***********

In [12]:
n = 6
x = 1

for i in range(1,n+1):
    
    print(" "*(n-i) + str(x)*(2*i-1))
    x += 1

     1
    222
   33333
  4444444
 555555555
66666666666

In [14]:
n = 6
x = 65

for i in range(1,n+1):
    
    print(" "*(n-i) + chr(x)*(2*i-1))
    x += 1

     A
    BBB
   CCCCC
  DDDDDDD
 EEEEEEEEE
FFFFFFFFFFF

### Prime Number In Given Range

In [19]:
n = 13

# 11 >> 2,3,4,5,6,7,8,9,10

for i in range(2,n):
    if n % i == 0:
        print("Not A Prime Number")
        break
else:
    print("Is a Prime Number")

Is a Prime Number

In [21]:
# 10 >> 100

for n in range(10,30):
    for i in range(2,n):
        if n % i == 0:
            print(f"{n} is not a Prime Number")
            break
    else:
        print(f"{n} is a Prime Number")

10 is not a Prime Number
11 is a Prime Number
12 is not a Prime Number
13 is a Prime Number
14 is not a Prime Number
15 is not a Prime Number
16 is not a Prime Number
17 is a Prime Number
18 is not a Prime Number
19 is a Prime Number
20 is not a Prime Number
21 is not a Prime Number
22 is not a Prime Number
23 is a Prime Number
24 is not a Prime Number
25 is not a Prime Number
26 is not a Prime Number
27 is not a Prime Number
28 is not a Prime Number
29 is a Prime Number

In [23]:
# Print Prime numbers in range 900 to 1000

for n in range(900,1001):
    for i in range(2,n):
        if n % i == 0:
            break
    else:
        print(n, end = " ")

907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [32]:
x = input("Enter List ")

print(x)
print(type(x))

Enter List 1,2,3,4,5,6
1,2,3,4,5,6
<class 'str'>

In [41]:
x = eval(input("Enter List "))

# x = x.split(",")

# new_list = []

# for i in x:
#     new_list.append(int(i))

print(x)
print(type(x))

Enter List [1,2,3,4,5]
[1, 2, 3, 4, 5]
<class 'list'>