In [ ]:
There are 2 dataframe, there we have student id in both df
We need to know how many comman student ids are there

In [1]:
import numpy as np

In [ ]:
# np.intersect1d(array1, array2)

In [8]:
array1 = np.random.randint(10,99, size = 100)

In [9]:
array1

array([57, 87, 27, 92, 66, 60, 21, 15, 66, 30, 34, 82, 16, 62, 14, 58, 28,
       62, 45, 84, 20, 24, 93, 90, 76, 87, 10, 55, 47, 81, 93, 28, 84, 41,
       72, 18, 45, 40, 62, 59, 46, 41, 69, 93, 79, 88, 67, 63, 95, 92, 41,
       89, 77, 82, 34, 87, 23, 35, 85, 33, 45, 72, 22, 13, 25, 16, 78, 95,
       64, 60, 20, 42, 29, 25, 79, 10, 10, 47, 42, 46, 64, 77, 42, 48, 46,
       78, 70, 60, 14, 74, 26, 28, 87, 72, 37, 59, 33, 30, 63, 87])

In [10]:
array2 = np.random.randint(10,99, size = 100)

In [11]:
array2

array([64, 67, 95, 56, 89, 84, 18, 63, 10, 32, 28, 22, 47, 75, 33, 53, 34,
       67, 53, 83, 15, 96, 26, 41, 94, 60, 40, 41, 71, 35, 82, 79, 71, 72,
       17, 45, 56, 87, 63, 46, 35, 28, 69, 87, 53, 58, 21, 85, 77, 27, 76,
       37, 43, 84, 45, 87, 86, 56, 51, 38, 17, 18, 92, 47, 46, 84, 61, 71,
       62, 59, 21, 71, 50, 37, 38, 63, 27, 50, 26, 84, 45, 24, 51, 64, 68,
       91, 35, 87, 25, 42, 12, 79, 15, 83, 12, 62, 20, 61, 66, 83])

In [12]:
 np.intersect1d(array1, array2)

array([10, 15, 18, 20, 21, 22, 24, 25, 26, 27, 28, 33, 34, 35, 37, 40, 41,
       42, 45, 46, 47, 58, 59, 60, 62, 63, 64, 66, 67, 69, 72, 76, 77, 79,
       82, 84, 85, 87, 89, 92, 95])

In [13]:
### np.setdiff1d(array1, array2)

array1 = np.array([1,2,3,4,1])
array2 = np.array([3,4,5,6])

np.setdiff1d(array1, array2)

array([1, 2])

In [14]:
np.setdiff1d(array2, array1)

array([5, 6])

In [15]:
### np.setxor1d(array1, array2)

array1 = np.array([1,2,3,2,4])
array2 = np.array([2,3,5,7,5])

np.setxor1d(array1, array2)

array([1, 4, 5, 7])

In [ ]:
# np.setxor1d(df1["Col1"],df2["Col2"])