### How to access items from set

In [1]:
list1 = [1,2,3,4,5,6]

list1[3]

4

In [2]:
list1[-2:]

[5, 6]

In [4]:
for i in list1:
    print(i, end = " ")

1 2 3 4 5 6

In [5]:
set1 = {"Delhi","Kolkata","Dubai","New York","London","Sydney"}

set1[4]

TypeError: 'set' object is not subscriptable

In [6]:
print(set1)

{'Dubai', 'Kolkata', 'New York', 'London', 'Delhi', 'Sydney'}

### Using for loop over set

In [7]:
set1 = {"Delhi","Kolkata","Dubai","New York","London","Sydney"}

for city in set1:
    print(city, end = " ")

Dubai Kolkata New York London Delhi Sydney

In [9]:
set2 = {"Family Guy", "Friends", "GOT", "Breaking Bad", "Stranger Things", "Dark", "The Good Doctor", "Big Bang Theory"}

print("Peoples Favourite Series")

for drama in set2:
    print(drama, end = ", ")

Peoples Favourite Series
Family Guy, GOT, The Good Doctor, Big Bang Theory, Stranger Things, Friends, Breaking Bad, Dark,