In [ ]:
string is like pearls woven in a string

"This is a sample string"

Here every letter is a pearl kept together by an invisible string

In [ ]:
string = 'This is a sample string'
string = "This is a sample string"
string ='''This is a sample string'''
string = """This is a sample string"""

In [ ]:
We cannot use single quote in a single quote # Valid
We cannot use double quote in a double quote #Valid
We cannot use triple quote in a triple quote # Valid
                |
                |-----Both triple quote shall not be single triple quote
                |
                |-----Both triple quote shall not be double triple quote

In [1]:
string = 'This is a 'sample' string' # We cannot use single quote in a single quote

SyntaxError: invalid syntax (2388758638.py, line 1)

In [2]:
string = 'This is a "sample" string' # We can use double quote in a single quote

In [3]:
print(string)

This is a "sample" string

In [ ]:
string = 'This is a '''sample''' string' # We cannot use sigle quote wala triple quote in a single quote

In [9]:
string = 'This is a """sample""" string' # We can use double quote wala triple quote in single quote string
print(string)

This is a """sample""" string

In [4]:
string = "This is a "sample" string" # We cannot use double quote in a double quote

SyntaxError: invalid syntax (1075791852.py, line 1)

In [5]:
string = "This is a 'sample' string" # We can use single quote in a double quote

In [7]:
string = "This is a '''sample''' string" # we can use single quote wala triple quote in a double quote
print(string)

This is a '''sample''' string

In [ ]:
string = "This is a """sample""" string" # We cannot use double quote wala triple quote in a double quote

In [10]:
string = '''This is a '''sample''' string''' # This does not work

SyntaxError: invalid syntax (3489242221.py, line 1)

In [12]:
string = '''This is a """sample""" string''' # This works
print(string)

This is a """sample""" string

In [13]:
string = """This is a """sample""" string""" # This does not work

SyntaxError: invalid syntax (4142410399.py, line 1)

In [14]:
string = """This is a '''sample''' string"""

# Workaround

### Escape Character

In [15]:
string = "This is a sample string"
print(string)

This is a sample string

In [16]:
string = "This is a "sample" string"

SyntaxError: invalid syntax (1167959065.py, line 1)

In [17]:
# Lets use escape character
string = "This is a \"sample\" string"

In [18]:
print(string)

This is a "sample" string

In [19]:
string = 'This is a 'sample' string'

SyntaxError: invalid syntax (2388758638.py, line 1)

In [20]:
# Lets use escape character
string = 'This is a \'sample\' string'
print(string)

This is a 'sample' string

In [21]:
string = "This is a \sample string"
print(string)

This is a \sample string

In [22]:
string = "This is a \"""sample\""" string"
print(string)

This is a "sample" string

In [23]:
string = 'Data science combines math and statistics, specialized programming, advanced analytics, artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover actionable insights hidden in an organization's data. These insights can be used to guide decision making and strategic planning.'

SyntaxError: unterminated string literal (detected at line 1) (4039594595.py, line 1)

In [24]:
string = "Data science combines math and statistics, specialized programming, advanced analytics, artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover actionable insights hidden in an organization's data. These insights can be used to guide decision making and strategic planning."

In [25]:
print(string)

Data science combines math and statistics, specialized programming, advanced analytics, artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover actionable insights hidden in an organization's data. These insights can be used to guide decision making and strategic planning.

In [26]:
string = "Data science combines math and statistics, specialized programming, advanced analytics, artificial intelligence (AI), 
and machine learning with specific subject matter expertise to uncover actionable insights hidden in an organization's data. 
These insights can be used to guide decision making and strategic planning."

SyntaxError: unterminated string literal (detected at line 1) (484555735.py, line 1)

In [27]:
## Using triple quote for multiple lines

In [28]:
string = """Data science combines math and statistics, specialized programming, advanced analytics, 
artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover 
actionable insights hidden in an organization's data. These insights can be used to guide decision making and 
strategic planning."""

print(string)

Data science combines math and statistics, specialized programming, advanced analytics,
artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover
actionable insights hidden in an organization's data. These insights can be used to guide decision making and
strategic planning.

In [29]:
string = '''Data science combines math and statistics, specialized programming, advanced analytics, 
artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover actionable 
insights hidden in an organization's data. These insights can be used to guide decision making and strategic planning.'''

In [30]:
## Using Escape Character with double quote
string = "Data science combines math and statistics, specialized programming, advanced analytics, \
artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover actionable \
insights hidden in an organization's data. These insights can be used to guide decision making and strategic planning."

print(string)

Data science combines math and statistics, specialized programming, advanced analytics, artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover actionable insights hidden in an organization's data. These insights can be used to guide decision making and strategic planning.

## New Line Character

#### \n

In [31]:
string = "This is a sample string"
print(string)

This is a sample string

In [32]:
string = "This is a \nsample string"
print(string)

This is a
sample string

In [36]:
string = "This \nis \na \nsample \nstring"
print(string)

This
is
a
sample
string

In [37]:
string = "This \n is \n a \n sample \n string"
print(string)

This
 is
 a
 sample
 string

In [38]:
string = "In python \n is a new line charachter"
print(string)

In python
 is a new line charachter

In [39]:
## Lets use escape character
string = "In python \\n is a new line charachter"
print(string)

In python \n is a new line charachter

## Tab Character

### \t

In [40]:
string = "This is a sample string"
print(string)

This is a sample string

In [41]:
string = "This is a \tsample string" # It adds 4 spaces before the character
print(string)

This is a 	sample string

In [42]:
string = "This \tis \ta \tsample \tstring"
print(string)

This 	is 	a 	sample 	string

In [43]:
string = "In Python \t is a characher used in a string to add 4 spaces"
print(string)

In Python 	 is a characher used in a string to add 4 spaces

In [44]:
## Lets use escape charachter
string = "In Python \\t is a characher used in a string to add 4 spaces"
print(string)

In Python \t is a characher used in a string to add 4 spaces

### Revision of fstring

In [45]:
x = "This is a sample string"

print(x)

This is a sample string

In [46]:
x = f"This is a {sample} string"

print(x)

NameError: name 'sample' is not defined

In [47]:
sample = "sample"

x = f"This is a {sample} string"

print(x)

This is a sample string

In [48]:
sample = "Velocity Class"

x = f"This is a {sample} string"

print(x)

This is a Velocity Class string

In [49]:
x = 10

statement = f"The value of variable x is {x}"

print(statement)

The value of variable x is 10

In [50]:
x = 12.623723947867234

statement = f"The value of variable x is {x}"

print(statement)

The value of variable x is 12.623723947867234

In [51]:
x = 12.623723947867234

statement = f"The value of variable x is {x:.4f}"

print(statement)

The value of variable x is 12.6237

## Revision .format string

In [52]:
x = "This is a number {}".format(10)

print(x)

This is a number 10

In [53]:
x = "In the series of number {} comes before {} which is again before {}".format(10,11,12)

print(x)

In the series of number 10 comes before 11 which is again before 12

In [54]:
a = 21
b = 22
c = 23

x = "In the series of number {} comes before {} which is again before {}".format(a,b,c)

print(x)

In the series of number 21 comes before 22 which is again before 23

In [61]:
a = 21
b = 22
c = 23.12653461283

x = "In the series of number {} comes before {} which is again before {:.4f}".format(a,b,c)

print(x)

In the series of number 21 comes before 22 which is again before 23.1265

### % Operator

In [79]:
a = 10
x = "Lets print %d"%10

print(x)

ValueError: incomplete format

In [93]:
x = "In python to print %d we can use %% operator"%10
x

'In python to print 10 we can use % operator'

In [ ]:
a = 21
b = 22
c = 23

x = "In the series of number {} comes before {} which is again before {}".format(a,b,c)

print(x)

In [94]:
a = 21
b = 22
c = 23

x = "In the series of number %d comes before %d which is again before %d"%(a,b,c)

print(x)

In the series of number 21 comes before 22 which is again before 23

In [95]:
a = 21
b = 22
c = 23.62366273

x = "In the series of number %d comes before %d which is again before %f"%(a,b,c)

print(x)

In the series of number 21 comes before 22 which is again before 23.623663

In [96]:
a = 21
b = 22
c = 23.62366273

x = "In the series of number %d comes before %d which is again before %.2f"%(a,b,c)

print(x)

In the series of number 21 comes before 22 which is again before 23.62