## Copy Function on Tuple

In [1]:
tuple1 = ("Pune","Mumbai","Nashik","Amaravati","Solapur")

tuple2 = tuple1

print(f"{tuple1}   :: ID >> {id(tuple1)}")
print(f"{tuple2}   :: ID >> {id(tuple2)}")

('Pune', 'Mumbai', 'Nashik', 'Amaravati', 'Solapur')   :: ID >> 2570683302352
('Pune', 'Mumbai', 'Nashik', 'Amaravati', 'Solapur')   :: ID >> 2570683302352

### Special case where tuple is mutable

In [13]:
tuple1 = (12,13,14,15,[1,2,3,4],16,17,18)

tuple2 = tuple1

print(f"{tuple1}   :: ID >> {id(tuple1)}")
print(f"{tuple2}   :: ID >> {id(tuple2)}")

(12, 13, 14, 15, [1, 2, 3, 4], 16, 17, 18)   :: ID >> 2570682072672
(12, 13, 14, 15, [1, 2, 3, 4], 16, 17, 18)   :: ID >> 2570682072672

In [14]:
tuple1.index([1,2,3,4])

4

In [15]:
tuple1[4]

[1, 2, 3, 4]

In [16]:
type(tuple1[4])

list

#### Changing element in a list in a tuple

In [17]:
tuple1[4][2] = 1000

In [18]:
tuple1

(12, 13, 14, 15, [1, 2, 1000, 4], 16, 17, 18)

In [19]:
print(f"{tuple1}   :: ID >> {id(tuple1)}")
print(f"{tuple2}   :: ID >> {id(tuple2)}")

(12, 13, 14, 15, [1, 2, 1000, 4], 16, 17, 18)   :: ID >> 2570682072672
(12, 13, 14, 15, [1, 2, 1000, 4], 16, 17, 18)   :: ID >> 2570682072672

In [20]:
## Using general copy function on tuple

tuple1 = (12,13,14,15,[1,2,3,4],16,17,18)

tuple2 = tuple1.copy()  ## Copy doesn't work with tuple

AttributeError: 'tuple' object has no attribute 'copy'

In [21]:
## Using copy library we can create a copy of a tuple

import copy

tuple1 = (12,13,14,15,[1,2,3,4],16,17,18)

tuple2 = copy.deepcopy(tuple1)

print(f"{tuple1}   :: ID >> {id(tuple1)}")
print(f"{tuple2}   :: ID >> {id(tuple2)}")

(12, 13, 14, 15, [1, 2, 3, 4], 16, 17, 18)   :: ID >> 2570711676608
(12, 13, 14, 15, [1, 2, 3, 4], 16, 17, 18)   :: ID >> 2570711676480

In [22]:
tuple1[4][2] = 1000

print(f"{tuple1}   :: ID >> {id(tuple1)}")
print(f"{tuple2}   :: ID >> {id(tuple2)}")

(12, 13, 14, 15, [1, 2, 1000, 4], 16, 17, 18)   :: ID >> 2570711676608
(12, 13, 14, 15, [1, 2, 3, 4], 16, 17, 18)   :: ID >> 2570711676480

In [23]:
acc_no = 12345
pan_card = 'BB12CD12' 
aadhar = 123456789
passport_num = 1234567

x = acc_no, pan_card, aadhar, passport_num

print(x)

(12345, 'BB12CD12', 123456789, 1234567)

### Accessing Items From Tuple

##### Using indexing and slicing

In [24]:
tuple1 = ("Pune","Mumbai","Nashik","Amaravati","Solapur")

tuple1[2]

'Nashik'

In [25]:
tuple1[-3]

'Nashik'

In [26]:
tuple1[-3:]

('Nashik', 'Amaravati', 'Solapur')

In [27]:
tuple1[:3]

('Pune', 'Mumbai', 'Nashik')

##### Using for loop

In [29]:
tuple1 = ("Pune","Mumbai","Nashik","Amaravati","Solapur", "Sangali", 
          "Baramati", "Kolhapur", "Satara", "Sambhaji Nagar", "Nagpur")

for city in tuple1:
    print(city)

Pune
Mumbai
Nashik
Amaravati
Solapur
Sangali
Baramati
Kolhapur
Satara
Sambhaji Nagar
Nagpur

In [30]:
for city in enumerate(tuple1):
    print(city)

(0, 'Pune')
(1, 'Mumbai')
(2, 'Nashik')
(3, 'Amaravati')
(4, 'Solapur')
(5, 'Sangali')
(6, 'Baramati')
(7, 'Kolhapur')
(8, 'Satara')
(9, 'Sambhaji Nagar')
(10, 'Nagpur')

In [32]:
for index, city in enumerate(tuple1):
    
    print(f"{index} :: {city}")

0 :: Pune
1 :: Mumbai
2 :: Nashik
3 :: Amaravati
4 :: Solapur
5 :: Sangali
6 :: Baramati
7 :: Kolhapur
8 :: Satara
9 :: Sambhaji Nagar
10 :: Nagpur

In [36]:
tuple1 = ("Pune","Mumbai","Nashik","Amaravati","Solapur", "Sangali", 
          "Baramati", "Kolhapur", "Satara", "Sambhaji Nagar", "Nagpur")
## Distance from Amaravati

tuple2 = (600,1000,650,0,700,800,400,750,400,350,200)


print("City Name"+" "*Distance")

for city, distance in zip(tuple1,tuple2):
    print(f"{city}" + " "*4 + f"{distance}")

City Name    Distance
Pune    600
Mumbai    1000
Nashik    650
Amaravati    0
Solapur    700
Sangali    800
Baramati    400
Kolhapur    750
Satara    400
Sambhaji Nagar    350
Nagpur    200

### Type Casting

In [38]:
tuple1 = ("Pune","Mumbai","Nashik","Amaravati","Solapur", "Sangali", 
          "Baramati", "Kolhapur", "Satara", "Sambhaji Nagar", "Nagpur")

list_from_tuple = list(tuple1)

print(list_from_tuple)
print(type(list_from_tuple))

['Pune', 'Mumbai', 'Nashik', 'Amaravati', 'Solapur', 'Sangali', 'Baramati', 'Kolhapur', 'Satara', 'Sambhaji Nagar', 'Nagpur']
<class 'list'>

In [40]:
city_list = ['Pune', 'Mumbai', 'Nashik', 'Amaravati', 'Solapur', 'Sangali', 
             'Baramati', 'Kolhapur', 'Satara', 'Sambhaji Nagar', 'Nagpur']

tuple_from_list = tuple(city_list)

print(tuple_from_list)
print(type(tuple_from_list))

('Pune', 'Mumbai', 'Nashik', 'Amaravati', 'Solapur', 'Sangali', 'Baramati', 'Kolhapur', 'Satara', 'Sambhaji Nagar', 'Nagpur')
<class 'tuple'>

In [42]:
city_list = ['Pune', 'Mumbai', 'Nashik', 'Amaravati', 'Solapur', 'Sangali', 
             'Baramati', 'Kolhapur', 'Satara', 'Sambhaji Nagar', 'Nagpur']

set_from_list = set(city_list)

print(set_from_list)
print(type(set_from_list))

{'Kolhapur', 'Nagpur', 'Amaravati', 'Pune', 'Sangali', 'Mumbai', 'Solapur', 'Satara', 'Baramati', 'Sambhaji Nagar', 'Nashik'}
<class 'set'>