In [ ]:
List:
    1. Mutable
    2. Ordered
    3. Duplicates are allowed

Tuple:
    1. Immutable
    2. Ordered
    3. Duplicates are allowed

## Tuple

In [ ]:
Tuple is a collection of items
It is a container type datatype

It can contain items of data type as >> int, float, str, list, tuple, set, frozenset, dict

Tuples are inclosed by ( )

The items in a tuple are comma seperated

Takes less memory as compered to list

### Tuple Functions

In [ ]:
## Indexing and slicing works the way it works in list hence not covered here
1. index
2. count

Buit in function:
    1. sorted()
    2. reversed()
    3. min()
    4. max()
    5. sum()

### How to initiate a tuple

In [1]:
tuple1 = ()

type(tuple1)

tuple

In [2]:
tuple1 = (1,2,3,4,5)

type(tuple1)

tuple

In [3]:
## Something to remember

x = (1)

type(x)

int

In [4]:
x = (1,)

type(x)

tuple

In [5]:
x = ("This is a sample string")

type(x)

str

In [6]:
x = ("This is a sample string",)

type(x)

tuple

In [8]:
# Something to remember
x,y,z = 1,2,3

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [9]:
x,y,z = 1,2.2,"string"

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [10]:
x = 1,2.2,"string"

type(x)

tuple

In [11]:
print(x)

(1, 2.2, 'string')

# Tuple Function

### index()

In [12]:
## index returns index of first occurance of an element in a tuple
tuple1 = (1,2,3,4,1,2,3,4)

tuple1.index(2)

1

In [15]:
tuple1 = (1,1.2,100,[1,2,3,4],"Sample",{"Name":"Mahendra","Surname":"Dhoni"},"Sample")

tuple1.index([1,2,3,4])

3

In [16]:
tuple1.index("Sample")

4

### count()

In [18]:
tuple1 = (1,2,3,2,2,3,3,4,5,5,6,1,2,7,8,3,4,2,678,3,8)

tuple1.count(2)

5

# Using Python Built in Function

### sorted()

In [19]:
tuple1 = (1,2,3,2,2,3,3,4,5,5,6,1,2,7,8,3,4,2,678,3,8)

tuple2 = sorted(tuple1)
print(tuple2)

[1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 5, 5, 6, 7, 8, 8, 678]

In [20]:
tuple2 = tuple(tuple2) ## Type casting

tuple2

(1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 5, 5, 6, 7, 8, 8, 678)

### reversed()

In [21]:
tuple1 = (1,2,3,2,2,3,3,4,5,5,6,1,2,7,8,3,4,2,678,3,8)

tuple2 = reversed(tuple1)

print(tuple2)

<reversed object at 0x000002A458FEA260>

In [22]:
tuple2 = tuple(tuple2)

tuple2

(8, 3, 678, 2, 4, 3, 8, 7, 2, 1, 6, 5, 5, 4, 3, 3, 2, 2, 3, 2, 1)

### min()

In [24]:
tuple1 = (1,2,3,2,2,3,3,4,5,5,6,1,2,7,8,3,4,2,678,3,8)

tuple1.min() ## There is no such tuple attribute (function)

AttributeError: 'tuple' object has no attribute 'min'

In [25]:
min(tuple1)

1

### max()

In [26]:
tuple1 = (1,2,3,2,2,3,3,4,5,5,6,1,2,7,8,3,4,2,678,3,8)

max(tuple1)

678

In [29]:
list1 = list(tuple1)