In [ ]:
a = 10 # type int
a = 10.2 # type Float
a = [1,2,3,4] # type List
a = {"Name":"Rohit","Surname":"Sharma"} #tyep dict
a = (1,2,3,4) # Type tuple
a = {1,2,3,4} #type set
a = "Name" #type string

# Type of Variable

In [ ]:
1. Global Variable: 
    1. Variable that are declared outside function
    2. We can access global variable from inside or outside of the function
2. Local Variable:
    1. Variables that are declared inside the function
    2. We cannot access variable that are declared inside the function from outside

In [1]:
def add(a,b):
    addition = a + b
    
    return addition

e = 11

In [2]:
c = 10
d = 11
e = add(c,d)

In [3]:
print(e)

21

In [4]:
print(e)

21

In [5]:
add(c,d) # Jupyter Notebook's output

21

In [6]:
def sub(a,b):
    substraction = a - b
    return substraction

In [7]:
sub(20,10)

10

In [8]:
sub(11,55)

-44

### Global Variable

In [9]:
num_1 = 10
num_2 = 20

In [10]:
def add_num(a):
    add = a + 100
    return add

In [11]:
add_num(num_1)

110

In [24]:
def add_num(a):  # New defination
    add = a + num_2 # Accessing num_2 inside the function
    return add

In [13]:
add_num(num_1)

30

In [25]:
add_num(num_2)

40

In [14]:
num_2 # Accessing outside the function

20

## Local Variable

In [15]:
num_1 = 10
num_2 = 20

In [23]:
def add_num(b):
    add = b + 100
    return add

In [17]:
add_num(num_1)

110

In [18]:
add

In [20]:
def add_num(a):
    add_1 = a + 100
    return add_1

In [21]:
add_num(22)

122

In [22]:
print(add_1) ## Accessing add_1 from outside

NameError: name 'add_1' is not defined

In [26]:
def add_num(a):
    add_1 = a + 100
    add_2 = add_1 + 2  ## Accessing add_1 inside the function
    print("add_1: ", add_1)
    print("add_2: ", add_2)
    return add_1

In [27]:
add_num(33)

add_1:  133
add_2:  135

133

In [29]:
print("add_1: ", add_1) # Local variable can be printed inside the fuction but not outside

NameError: name 'add_1' is not defined

# Assigning multiple values to multiple variables

In [30]:
a = 10
b = 20
c = 30
d = 40

In [31]:
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  10
b =  20
c =  30

In [33]:
a,b,c,d = 11,22,33,44

In [34]:
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  11
b =  22
c =  33

In [35]:
a,b,c,d = "11",12,"12.5",13

In [36]:
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  11
b =  12
c =  12.5

In [37]:
a,b,c,d,e = "11",12,"12.5",13,"Name"

In [38]:
print("a = ",a)
print("b = ",b)
print("c = ",c)
print("d = ",d)
print("e = ",e)

a =  11
b =  12
c =  12.5
d =  13
e =  Name

In [39]:
a,b,c,d,e = "11",12,"12.5",13  # We  haven't set value for e

ValueError: not enough values to unpack (expected 5, got 4)

In [40]:
a,b,c, = "11",12,"12.5",13 # We don't have variable to store value 13

ValueError: too many values to unpack (expected 3)

In [42]:
t = 1,2,3,4,5 #This works

In [43]:
t,m = 1,2,3,4,5 # This does not work

ValueError: too many values to unpack (expected 2)

In [44]:
t = 1,2,3,4,5 # This works

In [45]:
t

(1, 2, 3, 4, 5)

In [46]:
type(t)

tuple

In [47]:
print(num_2)

20